RewriteEngine Off
RewriteEngine On
Options -Indexes
 
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RewriteCond %{SERVER_PORT} 443
 
RewriteBase /api/marketplace/ 

RewriteRule ^print/(.*)$ print.php?$1 [NC,L]

RewriteRule ^([\w-]+)/(.*)$ $1.php?$2 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f  
RewriteRule ^(.*)$ $1.php [NC,L]