{% extends "template.html" %}
{% block pagetitle %}{{ LANG.aboutus|raw }} | {{ parent() }}{% endblock %}

{% block headerBannerContent %}  
 <div style="clear: both; height: 4em"></div>
<div class="content-wrapper">
  <div class="flex">
            <div class="consume">
                    <h1>{{LANG.aboutus}}</h1> 
                <div class="tag-line">
                   
                    Dengan pengalaman yang luas dalam pengembangan perangkat lunak, WINTERA memahami betapa pentingnya memiliki solusi yang sesuai dan sejalan dengan kebutuhan bisnis Anda, solusi yang bisa beradaptasi mengikuti pertumbuhan dan dinamika bisnis Anda.<br><br>Dengan tim ahli yang terdiri dari pengembang berbakat dan berpengalaman, kami siap untuk mewujudkan visi Anda menjadi kenyataan. Beralihlah ke zaman teknologi bersama WINTERA!
                    
                </div> 

            </div>
    </div>
</div>
 <div style="clear: both; height: 8em"></div>
{% endblock %} 
{% block content %} 
 
<div class="pillars">
     <div style="clear: both; height: 4em"></div>
    <div class="pillar-list">
        <div class="item">
            <div class="content-panel auto-height ">
                <div class="image"  style="background-image:url('{{ TEMPLATE_IMG_PATH }}integrity.png')"></div>
                <div style="clear: both; height: 1em"></div>
                <div class="title">Integritas</div>
                <div style="clear: both; height: 1em"></div>
                <div class="description">
                    Keselarasan dan kesesuaian antara pelaksanaan kerja dengan tujuan perusahaan klien.
                    Integritas adalah landasan kami untuk mencapai
                    kesuksesan bersama dan membangun hubungan
                    kerjasama yang baik dalam jangka panjang.
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content-panel auto-height">
                <div class="image"  style="background-image:url('{{ TEMPLATE_IMG_PATH }}visioner.png')"></div>
                <div style="clear: both; height: 1em"></div>
                <div class=" title">Visioner</div>
                <div style="clear: both; height: 1em"></div>
                <div class="description">Selalu mengedepankan keunggulan. Setiap produk yang kami kembangkan merupakan sebuah dedikasi untuk membangun solusi teknologi melalui inovasi dan kerja sama tim yang handal.⁣</div>
            </div>
        </div>
        <div class="item">
            <div class="content-panel auto-height ">
                <div class="image"  style="background-image:url('{{ TEMPLATE_IMG_PATH }}satisfaction.png')"></div>
                <div style="clear: both; height: 1em"></div>    
                <div class="title">Kepuasan Klien</div>
                <div style="clear: both; height: 1em"></div>
                <div class="description"> 
                    Prioritas nomor satu terhadap kepuasan klien
                    dalam memberikan layanan prima untuk mencapai
                    solusi yang efektif dan efisien, dengan didukung
                    oleh tim ahli kami yang memiliki kompetensi dibidangnya.⁣
                </div>
            </div>
        </div>
    </div>
                    <div style="clear: both; height: 4em"></div>

</div>

<!--<div style="position: relative;  transform: skewY(0.001deg); padding: 1.5em; background-color: #420D7C; clip-path: polygon(0% 100%, 100% 0%, 100% 100%);"></div>-->
<div class="vision center-mobile">
    
    <div class="content-wrapper"> 
        <div class="flex flex-stretch">
            <div class="vision-mission">
                <div class="vision-panel">
                    <h2>Visi</h2>
                    <div class="desc">
                        Menjadi perusahaan terdepan di Indonesia yang menyediakan solusi produk dan jasa layanan sistem informasi.
                    </div>
                </div>
                <div class="mission-panel">
                  <h2>Misi</h2>
                    <div class="desc">
                            Memberikan solusi layanan sistem informasi yang lengkap dan berkualitas pada keseluruhan proses bisnis dan memberikan nilai tambah pada perusahaan klien.                
                    </div>
                </div>
               
            </div> 
        </div>
    </div>
 
</div>


<div class="advantage">

<div class="inovation">
    <div style="clear: both; height: 4em"></div>    
    <div class="content-wrapper">
        <div class="flex">
            <div class="consume" style="text-align: center">
             <img src="{{ TEMPLATE_IMG_PATH }}inovation.png">
            </div>
            <div class="consume">
                <h2>Penerapan <br> Inovasi Terbaru</h2>
                <div class="desc">Tantangan utama kami adalah menerapkan inovasi terbaru sistem informasi untuk semua sektor unit usaha sehingga dapat mengoptimalkan seluruh sumber daya yang ada dan perusahaan dapat berfokus kepada kegiatan inti bisnis yang dijalankan.</div>

            </div>  
        </div>
    </div>
</div>
    <div style="clear: both; height: 3em"></div>    
<div class="title-border"></div>
        <div style="clear: both; height: 2em"></div>    

<div class="priority">
    <div class="content-wrapper">

        <div class="flex">
     
            <div class="consume">
                <h2>Mengutamakan <br> Pelanggan</h2>
                <div class="desc">WINTERA sangat meyakini bahwa setiap perusahaan
                    adalah unik dan memiliki kebutuhan yang saling berbeda dengan perusahaan lainnya. Kami menangani setiap kebutuhan proyek sistem informasi dengan cara kerja yang eksklusif untuk setiap
                    perusahaan, dan memberikan nilai tambah pada keseluruhan
                    komponen yang ada pada organisasi.
                </div>

            </div>  
            <div class="consume" style="text-align: center">
             <img src="{{ TEMPLATE_IMG_PATH }}priority.png">
            </div>
        </div>
    </div>
</div>
    <div style="clear: both; height: 3em"></div>    
<div class="title-border"></div>
        <div style="clear: both; height: 2em"></div>    
<div class="experience">
    <div class="content-wrapper">

        <div class="flex">
        <div class="consume" style="text-align: center">
             <img src="{{ TEMPLATE_IMG_PATH }}experience.png">
            </div>
            <div class="consume">
                <h2>Pengalaman <br> Terjamin</h2>
                <div class="desc">Keahlian kami terletak pada pengembangan sistem
                    informasi aplikasi berbasis web, dengan pengalaman yang
                    kami miliki di bidang industri Teknologi Sistem Informasi,
                    kami akan memberikan solusi terbaik dan menjamin
                    realisasi yang sesuai dengan kebutuhan klien.
                </div>

            </div>  
          
        </div>
    </div>
</div>
</div>

<!--
 <div class="btn-panel" style="">
                        <ul class="content-list">
                            <li ><a class="btn-white" href="/">{{ LANG.seeProduct}}</a></li>
                            <li ><a class="btn-transparent" href="/contact-us">{{ LANG.contactUs}}</a></li>
                        </ul>
                    </div>
-->
<div style="clear: both; height: 5em"></div>

{% endblock %}