{% extends "template.html" %}
{% block pagetitle %}{{ LANG.portalCustomer }}{% endblock %}
{% block JS %}
<script type="text/javascript" src="{{ TEMPLATE_JS_PAGE_PATH }}customer-portal.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){  
 var opt = new Array();    
 var errMsg = new Array();     
 errMsg['username'] = {{ ERRORMSG.username|json_encode()|raw }}; 
 errMsg['password'] = {{ ERRORMSG.password|json_encode()|raw }}; 
 errMsg['code'] = {{ ERRORMSG.code|json_encode()|raw }}; 
 opt['errMsg'] = errMsg;
    
 var customerPortal = new CustomerPortal(opt);
 customerPortal.loadOnReady(); 
})
</script>
{% endblock %}

{% block contenttitle %}
<div class="title">
<h1>{{ LANG.login }}</h1>
</div>
{% endblock %}

{% block content %}

<div class="content-wrapper">
<form id="form-login-portal" method="post" class="form-horizontal form-default prevent-form-submit" action="/ajax-customer-portal.php">
{{ inputHidAction|raw }}
<div class="notification-msg"></div>
<div style="clear:both;height:1em"></div>
<div class="form-group">
<label class="col-lg-4 control-label">Kode Perusahaan</label>
<div class="col-lg-8">
{{ inputCodeCompany|raw }}
</div>
</div>
<div class="form-group">
<label class="col-lg-4 control-label">{{ LANG.username }}</label>
<div class="col-lg-8">
{{ inputUserName|raw }}
</div>
</div>
<div class="form-group">
<label class="col-lg-4 control-label">{{ LANG.password }}</label>
<div class="col-lg-8">
{{ inputPassword|raw }}
</div>
</div>

<div class="form-group">
<label class="col-lg-4 control-label"></label>
<div class="col-lg-8 mobile-center">
{{ btnSubmit|raw }}
</div>
</div>
</form>
</div>
{% endblock %}