{% extends "template-portal.html" %} 
{% import "twigMacro.html" as macro %}  
{% block pagetitle %}{{ LANG.payableTax23 }} | {{ parent() }}{% endblock %} 
{% block contenttitle %}{{ LANG.payableTax23|upper }}{% endblock %}
{% set pageFileName = 'payable-tax23-list' %}
{% block filteritem %} 
	<div class="label">{{ LANG.status }}</div>
	<div class="status-item flex">
		{% for statusRow in inputChkStatus %}
			<div class="flex">
				<div class="chk-panel">{{ statusRow.input|raw }}</div>
				<div>{{ statusRow.label }}</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
{% block actionpanelinfo %}<div><b>Outstanding</b><div style="font-size: 1.3em">Rp. {{ totalOutstanding|number_format }}</div></div>{% endblock %}
{% block listcontent %}  
<div class="table-and-card">
<div class="div-table table-list hide-mobile" style="width:100%">
	<div class="div-table-row">
		<div class="div-table-col-3 col-header" style="width:2em; text-align: right">{{ LANG.number }}</div>
		<div class="div-table-col-3 col-header" style="width:14em" >{{ LANG.invoice }}</div>
		<div class="div-table-col-3 col-header" style="width:4em; text-align: center"  >{{ LANG.curr }}</div>
		<div class="div-table-col-3 col-header" style="width:8em; text-align: right"  >{{ LANG.amount }}</div>
		<div class="div-table-col-3 col-header" >{{ LANG.status }}</div>
	</div>
</div>	
<div class="div-table transaction-table-with-detail" style="width:100%">
{% for item in rsAP %} 
<div class="div-table-row">
<div class="div-table-col">
<div class="div-table table-list hide-mobile" style="width:100%">
	<div class="div-table-row" attr-index="{{ item.pkey }}">
		<div class="div-table-col-3" style="width:2em; text-align:right;">{{ loop.index }}.</div>
		<div class="div-table-col-3" style="width:14em"><span class="{% if not item.paymentHistory is empty %}show-detail-link{% endif %}">{{ item.code }}</span></div>
		<div class="div-table-col-3" style="width:4em; text-align:center;">IDR</div>
		<div class="div-table-col-3" style="width:8em; text-align: right">{{ item.amount|number_format }}</div>
		<div class="div-table-col-3">{{ item.statusname }}</div>
	</div>
</div>
<div class="div-table detail-row hide-mobile" style="width:100%" attr-detail="{{ item.pkey }}">
	<div class="div-table-row">
		<div class="div-table-col-3" style="width:3em;"></div>
		<div class="div-table-col-3"> 
			{% if not item.paymentHistory is empty %} 
					<div class="div-table table-row-detail ">
						<div class="div-table-caption">{{ LANG.paymentInformation }}</div>
						<div class="div-table-row" >
							<div class="div-table-col col-header"  style="width: 9em">{{ LANG.date }}</div>
							<div class="div-table-col col-header"  style="width: 13em">{{ LANG.code }}</div>
							<div class="div-table-col col-header" style="text-align: right">{{ LANG.amount }}</div>
						</div>
						{% for paymentRow in item.paymentHistory %} 
							<div class="div-table-row">
								<div class="div-table-col">{{ paymentRow.trdate|date("d M Y") }}</div>
								<div class="div-table-col">{{ paymentRow.refcode }}</div>
								<div class="div-table-col" style="text-align: right">{{ paymentRow.amount|number_format }}</div>
							</div>
						{% endfor %}
					</div>
		  {% endif %} 
		</div> 
	</div>
</div>
</div>	
</div>	
{% endfor %}
</div>
 
{% for item in rsAP %} 
<div class="card-row flex flex-start card-mobile column">   
		<div class="consume">
			<h2>{{ item.code }}</h2> 
			<div class="data-row  flex">
				<div class="label">{{ LANG.duedate }}</div>
				<div class="consume" >{{ item.dueDate|date("d M Y") }}</div> 
			</div>
			<div class="data-row  flex">
				<div class="label">{{ LANG.currency }}</div>
				<div class="consume" >IDR</div> 
			</div>
			<div class="data-row  flex">
				<div class="label">{{ LANG.amount }}</div>
				<div class="consume" >{{ item.amount|number_format }}</div> 
			</div>
			<div class="data-row  flex">
				<div class="label">{{ LANG.outstanding }}</div>
				<div class="consume" >{{ item.outstanding|number_format }}</div> 
			</div> 
			<div class="data-row flex">
				<div class="label">{{ LANG.status }}</div>
				<div  class="consume" >{{ item.statusname }}</div> 
			</div>	
		</div> 
		<div class="consume detail-information">
			
				<div class="expand-group">
				<div  class="label user-select-none expand-link">{{ LANG.paymentInformation }}<i class="fas fa-caret-down expand-icon"></i><i class="fas fa-caret-up expand-icon" style="display:none"></i></div>
				<div class="expand-detail">
				<div style="clear:both; height: .5em"></div>
				{% if item.paymentHistory is empty %} 
						- 
				{% else %}
					<div class="div-table  mobile-table">
						<div class="div-table-row col-header-row">
							<div class="div-table-col col-header" style="width: 9em">{{ LANG.date }}</div>
							<div class="div-table-col col-header" style="width: 13em">{{ LANG.withholdingCode }}</div>
							<div class="div-table-col col-header" style="text-align: right">{{ LANG.amount }}</div>
						</div>
					{% for paymentRow in item.paymentHistory %} 
						<div class="div-table-row">
							<div class="div-table-col"><div class="row-header">{{ LANG.date }}</div>{{ paymentRow.trdate|date("d M Y") }}</div>
							<div class="div-table-col"><div class="row-header">{{ LANG.code }}</div>{{ paymentRow.refcode }}</div>
							<div class="div-table-col" style="text-align: right"><div class="row-header">{{ LANG.amount }}</div>{{ paymentRow.amount|number_format }}</div>
						</div>
					{% endfor %}
					</div>
				{% endif %}
				</div>
				</div>
		</div>
</div>     
{% endfor %}
</div>

{% if rsAP is empty %}
	<div style="text-align: center; padding-top:1em">{{ LANG.noDataFound }}</div>
{% endif %}

{% endblock %}