<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% block meta %}
<meta name="title" content="{{ META_TITLE }}">
<meta name="description"  content="{{ META_DESCRIPTION }}">
<meta name="keywords" content="{{ META_KEYWORDS }}">
<meta name="author" content="{{ settings.companyName }}"> 
<meta property=og:url content="{{ CANONICAL }}" />
<meta property=og:site_name content="{{ settings.companyName }}" />
<meta property="og:url" content="{{ META_URL }}" />
<meta property="og:type" content="{{ META_TYPE }}" />
<meta property="og:title" content="{{ META_TITLE }}" />
<meta property="og:description" content="{{ META_DESCRIPTION }}" /> 
<meta property="og:image" content="{{ META_IMAGE }}" /> 
<meta property="fb:app_id" content="{{ settings.FBAppID }}" /> 
{% endblock %} 
    
<link rel="shortcut icon" href="{{ favicon }}" />
<link rel="canonical" href="{{ CANONICAL }}" />  
    
<link rel="stylesheet" type="text/css" href="{{ DEFAULT_CSS_PATH }}bootstrap.css"> 
<link rel="stylesheet" type="text/css" href="{{ DEFAULT_CSS_PATH }}jquery.mmenu.all.css">
<link rel="stylesheet" type="text/css" href="{{ DEFAULT_CSS_PATH }}fe-1.1.css"> 
<link rel="stylesheet" type="text/css" href="{{ DEFAULT_CSS_PATH }}jquery-ui.min.css" />     
<link rel="stylesheet" type="text/css" href="{{ DEFAULT_CSS_PATH }}fileuploader.css">  
<link rel="stylesheet" type="text/css" href="{{ DEFAULT_CSS_PATH }}bootstrapValidator.css"/>
 
<script type="text/javascript">
// onload CSS
function loadCSS(a,d,f,g){var b=window.document.createElement("link");var c=d||window.document.getElementsByTagName("script")[0];var e=window.document.styleSheets;b.rel="stylesheet";b.href=a;b.media="only x";if(g){b.onload=g}c.parentNode.insertBefore(b,c);b.onloadcssdefined=function(h){var k;for(var j=0;j<e.length;j++){if(e[j].href&&e[j].href===b.href){k=true}}if(k){h()}else{setTimeout(function(){b.onloadcssdefined(h)})}};b.onloadcssdefined(function(){b.media=f||"all"});return b};

loadCSS( "{{ DEFAULT_CSS_PATH }}fontawesome6.min.css" );   
</script> 
       
{{ settings.googleSiteVerification|raw }}
<title>{% block pagetitle %} {{ HTTP_HOST|trim('/') }} {% endblock %}</title>  
</head>

<body>  
<div id="popup-panel" class="on-click-dismiss"></div>    
<form name="parameter-form" method="post"></form>
<nav id="side-menu">  
<div class="mm-menu mm-offcanvas">  
    <ul class="side-menu">      
        <div style="clear: both; height: 1em"></div> 
        <li name="/jobList.php"><a href="jobList" title="{{ LANG.home }}">{{ LANG.jobList|upper }}</a></li>   
        <li name="/logout.php"><a href="/logout" title="{{ LANG.logout }}">{{ LANG.logout|upper }}</a></li>  
          
    </ul> 
 </div>  
</nav>
    
<div id="page-header">
<a href="#side-menu" id="btn-side-menu"><i class="fas fa-bars"></i></a> 
<div class="account-name">{{ loginSession.name|upper }}</div> 
<div  style="clear:both"></div>
</div> 
<div style="height: 3em"></div>    
    
<div class="content-wrapper" style="font-size: 1.2em"> 
<div style="clear:both; height: 1em"></div>
<div class="content-title" >{% block contenttitle %}{% endblock %}</div>
<div style="min-height:20em; padding-top: 1em">{% block content %}{% endblock %}</div>
</div>
    
<div style="clear:both; height: 4em"></div>  
    
<!-- <script type="text/javascript" src="{{ DEFAULT_JS_PATH }}critical-js.min.js"></script>  -->
    
<script type="text/javascript"> 

    var cssLoaded = false;
    
    var dfLoadStatus = 0;
    var dfLoadFiles = [
      ["{{ DEFAULT_JS_PATH }}jquery-3.3.1.min.js"], 
      ["{{ DEFAULT_JS_PATH }}bootstrapValidator.js"], 
      ["{{ DEFAULT_JS_PATH }}jquery-ui.min.js"],  
      ["{{ DEFAULT_JS_PATH }}jquery.formatCurrency-1.4.0.min.js"], 
      ["{{ DEFAULT_JS_PATH }}jquery.mmenu.min.all.js"],  
      {% block dfLoadFiles %}{% endblock %} // ntah knp gk bisa ditaro di bwh template.min
      [  
       "{{ DEFAULT_JS_PATH }}fe-1.1.min.js"
      ]
     ];
     
      
    function downloadJSAtOnload() {
        
        //load css first
        if (!cssLoaded){ 
            cssLoaded = true;
        }
        
        if (!dfLoadFiles.length) return;

        var dfGroup = dfLoadFiles.shift();
        dfLoadStatus = 0;
 
        for(var i = 0; i<dfGroup.length; i++) {
            dfLoadStatus++;
            var element = document.createElement('script');
            element.src = dfGroup[i];
            element.onload = element.onreadystatechange = function() {
                if ( ! this.readyState || this.readyState == 'complete') {
                    dfLoadStatus--;
                    if (dfLoadStatus==0) downloadJSAtOnload();
                }
            };
            document.body.appendChild(element); 
      } 
    }
     
    if (window.addEventListener)
        window.addEventListener("load", downloadJSAtOnload, false);
    else if (window.attachEvent)
        window.attachEvent("onload", downloadJSAtOnload);
    else window.onload = downloadJSAtOnload;
    
</script>   
    
<script type="text/javascript">
    const DECIMAL={%if settings.decimalTransaction is empty%}0{%else%}{{settings.decimalTransaction}}{%endif%};
    function onLoadScript(){ 

        var DECIMAL = {% if settings.decimalTransaction is empty %} 0 {% else %} {{ settings.decimalTransaction }} {% endif %};   
                                                                                                                    
        {% for activeMenuItem in ACTIVE_MENU %}
            $("[name='{{ activeMenuItem }}']").addClass("selected");    
        {% endfor %} 
                     
        $('nav#side-menu').mmenu(); 
		var API = $("#side-menu").data( "mmenu" );  
		API.close();  
				
		$(".btn-side-menu").click(function() {  API.open();	}); 
                                                                                                                    
        {% block JSOnLoad %} {% endblock %}
        
    }     
</script>   
{% block JS %}{% endblock %}
</body> 
</html>