{% extends "template.html" %}
{% block pagetitle %}{{ searchKey|url_decode|url_decode }} | {{ parent() }}{% endblock %} 

{% set categoryKey = 0 %} 
{% if not categoryPath is empty %}
    {% set categoryName = categoryPath[0].name %}
    {% set categoryKey = categoryPath[0].pkey %}
{% endif %}

{% block JS %} 
<script type="text/javascript">
jQuery(document).ready(function(){  
 var opt = new Array();     
 opt['selectedCategoryKey'] = {{ categoryKey }};
 opt['selectedCategoryName'] = "{{ categoryName|urlfilter }}";
 var products = new Products(opt);
 products.loadOnReady(); 
})
</script>
{% endblock %}

{% block content %}     

{% set bannerIndex = banner['products'][0] %}
<div class="banner banner-content" style="background-image:url('/phpthumb/phpThumb.php?src={{ PHPTHUMB_URL_SRC }}banner/{{ bannerIndex.pkey }}/{{ bannerIndex.file }}&f=png&hash={{ bannerIndex.phpThumbHash }}')">
<div class="content-wrapper">
<div class="div-table banner-text-panel">
    <div class="div-table-row">
        <div class="div-table-col" style="vertical-align: middle; height: 100%">
            <div class="simple-parallax fade-up">{{ bannerIndex.trdesc|raw }}</div>
        </div>
    </div>
</div>
</div>    
</div>  

<div class="content-wrapper">          
<div class="product-page div-table">
    <div class="div-table-row">
        <div class="filter-col div-table-col">
            <div class="filter-box">
                <div class="title">{{ LANG.sort }}</div>
                <div class="option">
                   <div class="flex">
                     <div class="consume">{{ selOrderBy|raw }}</div>
                     <div>{{ selOrderType|raw }}</div>
                   </div>
                </div>
            </div>
            <div class="filter-box">
                <div class="title">{{ LANG.filter }}</div>
                <div class="filter-item">
                    <div class="filter-name">{{ LANG.price }}</div>
                    <div class="flex">
                        <div>{{ inputPriceFrom|raw }}</div>    
                        <div>-</div>
                        <div>{{ inputPriceTo|raw }}</div>    
                    </div>
                </div> 
                <div class="filter-item">
                    <div>{{ LANG.category }}</div>
                </div>
                <div class="filter-item">
                    <div>{{ LANG.brand }}</div>
                </div>
            </div>
            
            <div class="btn-panel">{{ btnUpdateFilter|raw }}</div>
        </div>
        <div class="product-col div-table-col">
            {% if rsItem is empty %}
            <div style="text-align:center">{{ LANG.noDataFound }}</div>
            {% endif %} 
            {{ macro.buildItemDataCard(_context) }} 
            {{ macro.buildSearchProductPageList(_context) }} 
        </div>
    </div>
</div>    
</div> 
{% endblock %}