.DS_Store
.well-known
.user.ini
/php.ini
/error_log
/_development.php
/_license.php
/credentials/
/_raw/
/log/
/temp/
/upload/
/uploadeditor/
/phpthumb/cache/
/_ckfinder_upload
/test/
/compro/
/_temp/
/lazada/logs/
/connections/
/include/js-1.9/formJS/node_modules/
/include/js-1.9/formJS/package-lock.json
/include/js-1.9/formJS/package.json
/tools/install/install-2.php
/tools/wintera/XML/

*.zip
.brackets.json
license.php
_mp-app-config.php