{% extends "template-domo.html" %}
{% block pagetitle %}{{ LANG.forgotPassword }} | {{ parent() }}{% endblock %}
{% block JS %}
<script type=text/javascript src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block JSOnLoad %}
{{ parent() }}
$('#form-forgot-password')
.bootstrapValidator({
feedbackIcons: {
valid: 'glyphicon glyphicon-ok',
invalid: 'glyphicon glyphicon-remove',
validating: 'glyphicon glyphicon-refresh'
},
fields: {
email: {
validators: {
notEmpty: {
message: '{{ ERRORMSG.email[1] }}'
},
emailAddress: {
message: '{{ ERRORMSG.email[3] }}'
},
remote: {
message: '{{ ERRORMSG.email[4] }}',
url: '/ajax-member.php',
data: {
type: 'check',
fieldtype: 'email-negation'
},
type: 'POST'
}
}
},
}
})
.on('success.form.bv', function(e) {
$("[name=btnSave]").prop('disabled', true).addClass("btn-primary-loading");
// Prevent form submission
e.preventDefault();
// Get the form instance
var $form = $(e.target);
// Get the BootstrapValidator instance
var bv = $form.data('bootstrapValidator');
// Use Ajax to submit form data
$.post($form.attr('action'), $form.serialize(), function(result) {
$("[name=btnSave]").removeClass("btn-primary-loading");
var error = "";
for (i=0;i<result.length;i++) error=error + "<li>" + result[i].message + "</li>";
if (error != "")
error = "<ul class=\"message-dialog-ul\">" + error + "</ul>";
$(".notification-msg").html(error).show();
if (!result[0].valid){
$(".notification-msg").removeClass("bg-green-avocado").addClass("bg-red-cardinal");
$form.data('bootstrapValidator').resetForm();
scrollToTopForm($form);
grecaptcha.reset();
}else{
$(".notification-msg").removeClass("bg-red-cardinal").addClass("bg-green-avocado");
alert("{{ LANG.resetPasswordSuccessMessage }}");
location.href="/";
}
}, 'json');
});
{% endblock %}
{% block contenttitle %}
<div class="title">
<h1>{{ LANG.forgotPassword }}</h1>
</div>
{% endblock %}
{% block content %}
<div style="clear:both;height:2em"></div>
<form id="form-forgot-password" method="post" class="form-horizontal form-default prevent-form-submit" action="/ajax-member.php">
<div class="form-information">{{ LANG.forgotPasswordMessage }}</div>
{{ inputHidAction|raw }}
<div class="notification-msg"></div>
<div style="clear:both;height:1em"></div>
<div class="form-group">
<label class="col-lg-4 control-label">{{ LANG.email }}</label>
<div class="col-lg-8">
{{ inputEmail|raw }}
</div>
</div>
<div class="form-group">
<label class="col-lg-4 control-label"></label>
<div class="col-lg-8">
<div class="g-recaptcha" data-sitekey="{{ settings.reCaptchaSiteKey }}"></div>
</div>
</div>
<div class="form-group">
<label class="col-lg-4 control-label"></label>
<div class="col-lg-8">
{{ btnSubmit|raw }}
</div>
</div>
</form>
{% endblock %}