{% extends "template.html" %}
{% block pagetitle %}{{ LANG.profile }} | {{ parent() }}{% endblock %}
{% block JS %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block JSOnLoad %}
{{ parent() }}
$('#form-editprofile')
.bootstrapValidator({
feedbackIcons: {
valid: 'glyphicon glyphicon-ok',
invalid: 'glyphicon glyphicon-remove',
validating: 'glyphicon glyphicon-refresh'
},
fields: {
name: {
validators: {
notEmpty: {
message: '{{ ERRORMSG.name[1] }}'
},
}
},
currentPassword: {
validators: {
notEmpty: {
message: '{{ ERRORMSG.password[1] }}'
},
stringLength: {
min: 5,
max: 30,
message: '{{ ERRORMSG.password[2] }}'
},
remote: {
message: '{{ ERRORMSG.username[5] }}',
url: '/ajax-member.php',
data: {
type: 'check',
fieldtype: 'checkPassword'
},
type: 'POST'
}
}
},
password: {
validators: {
stringLength: {
min: 5,
max: 30,
message: '{{ ERRORMSG.password[2] }}'
},
identical: {
field: 'passwordConfirmation',
message: '{{ ERRORMSG.password[3] }}'
}
}
},
passwordConfirmation: {
validators: {
stringLength: {
min: 5,
max: 30,
message: '{{ ERRORMSG.password[2] }}'
},
identical: {
field: 'password',
message: '{{ ERRORMSG.password[3] }}'
}
}
},
phone: {
validators: {
notEmpty: {
message: '{{ ERRORMSG.phone[1] }}'
},
}
},
email: {
validators: {
notEmpty: {
message: '{{ ERRORMSG.email[1] }}'
},
emailAddress: {
message: '{{ ERRORMSG.email[3] }}'
},
}
},
}
})
.on('success.form.bv', function(e) {
$("[name=btnSave]").prop('disabled', true).addClass("btn-primary-loading");
// Prevent form submission
e.preventDefault();
// Get the form instance
var $form = $(e.target);
// Get the BootstrapValidator instance
var bv = $form.data('bootstrapValidator');
// Use Ajax to submit form data
$.post($form.attr('action'), $form.serialize(), function(result) {
$("[name=btnSave]").removeClass("btn-primary-loading");
var error = "";
for (i=0;i<result.length;i++) error=error + "<li>" + result[i].message + "</li>";
if (error != "")
error = "<ul class=\"message-dialog-ul\">" + error + "</ul>";
$(".notification-msg").html(error).hide().fadeToggle("fast");
if (!result[0].valid){
$(".notification-msg").removeClass("bg-green-avocado").addClass("bg-red-cardinal");
$form.data('bootstrapValidator').resetForm();
scrollToTopForm($form);
grecaptcha.reset();
}else{
$(".notification-msg").removeClass("bg-red-cardinal").addClass("bg-green-avocado");
alert(result[0].message);
location.href="/profile";
}
}, 'json');
});
{% endblock %} {% block contenttitle %}
<div class="title">
<h1>{{ LANG.profile }}</h1>
</div>
{% endblock %}
{% block content %}
<form id="form-editprofile" method="post" class="form-horizontal form-default prevent-form-submit" action="/ajax-member.php">
{{ inputHidId|raw }}
{{ hidModifiedOn|raw }}
{{ inputHidAction|raw }}
<div class="notification-msg"></div>
<div style="clear:both;height:1em"></div>
<div class="form-group">
<label class="col-lg-4 control-label">{{ LANG.username|upper }}</label>
<div class="col-lg-8">
{{ inputUserName|raw }}
</div>
</div>
<div class="form-group">
<label class="col-lg-4 control-label">{{ LANG.currentPassword|upper }}</label>
<div class="col-lg-8">
{{ inputCurrentPassword|raw }}
</div>
</div>
<div class="form-group">
<label class="col-lg-4 control-label"></label>
<div class="col-lg-8 text-red-cardinal">
{{ LANG.emptyFieldPasswordDontChange|raw }}
</div>
</div>
<div class="form-group">
<label class="col-lg-4 control-label">{{ LANG.newPassword|upper }}</label>
<div class="col-lg-8">
{{ inputNewPassword|raw }}
</div>
</div>
<div class="form-group">
<label class="col-lg-4 control-label">{{ LANG.newPasswordConfirmation|upper }}</label>
<div class="col-lg-8">
{{ inputPasswordConfirmation|raw }}
</div>
</div>
<div class="form-group">
<label class="col-lg-4 control-label">{{ LANG.name|upper }}</label>
<div class="col-lg-8">
{{ inputName|raw }}
</div>
</div>
<div class="form-group">
<label class="col-lg-4 control-label">{{ LANG.email|upper }}</label>
<div class="col-lg-8">
{{ inputEmail|raw }}
</div>
</div>
<div class="form-group">
<label class="col-lg-4 control-label">{{ LANG.phone|upper }}</label>
<div class="col-lg-8">
{{ inputPhone|raw }}
</div>
</div>
<div class="form-group">
<label class="col-lg-4 control-label"></label>
<div class="col-lg-8">
<div class="g-recaptcha" data-sitekey="{{ settings.reCaptchaSiteKey }}"></div>
</div>
</div>
<div class="form-group">
<label class="col-lg-4 control-label"></label>
<div class="col-lg-8">
{{ btnSubmit|raw }}
</div>
</div>
</form>
{% endblock %}