<!doctype html>
{% set TEMPLATE_JS_PAGE_PATH = TEMPLATE_JS_PAGE_PATH ~ 'formJS-1.1/' %}
{% import "twigMacro.html" as macro %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
	
{{ settings.googleAnalytics|raw }} 
	
<meta name="google-site-verification" content="{{ settings.googleSiteVerification|raw }}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% block meta %}
<meta name="title" content="{{ META_TITLE }}">
<meta name="description"  content="{{ META_DESCRIPTION }}">
<meta name="keywords" content="{{ META_KEYWORDS }}">
<meta name="author" content="{{ settings.companyName }}"> 
<meta property=og:url content="{{ CANONICAL }}" />
<meta property=og:site_name content="{{ settings.companyName }}" />
<meta property="og:url" content="{{ META_URL }}" />
<meta property="og:type" content="{{ META_TYPE }}" />
<meta property="og:title" content="{{ META_TITLE }}" />
<meta property="og:description" content="{{ META_DESCRIPTION }}" /> 
<meta property="og:image" content="{{ META_IMAGE }}" /> 
<meta property="fb:app_id" content="{{ settings.FBAppID }}" /> 
{% endblock %} 
    
<link rel=apple-touch-icon sizes=180x180 href="{{ TEMPLATE_IMG_PATH }}favicon/apple-touch-icon.png">
<link rel=icon type=image/png sizes=32x32 href="{{ TEMPLATE_IMG_PATH }}favicon/favicon-32x32.png">
<link rel=icon type=image/png sizes=16x16 href="{{ TEMPLATE_IMG_PATH }}favicon/favicon-16x16.png">
    
<link rel="canonical" href="{{ CANONICAL }}" />  
     
{% set categoryKey = 0 %} 
{% if not categoryPath is empty %}
    {% set categoryName = categoryPath[0].name %}
    {% set categoryKey = categoryPath[0].pkey %}
{% endif %} 
 
{% block structureData %}{{ STRUCTURE_DATA|raw }}{% endblock %}
{% if not settings.FBPluginScript is empty %} 
     {{ settings.FBPluginScript|replace({'{{ FB_APP_ID }}': settings.FBAppID })|raw }}
{% endif %}     
    
<title>{% block pagetitle %} {{ settings.websiteTitle }} {% endblock %}</title>  
</head>
<body>
<div id="popup-panel"></div>
<form name="parameter-form" class="prevent-form-submit" method="post">
{{ hidLayout|raw }} 
{{ hidTotalItemPerPage|raw }}
</form>
<div class="floating-wa-panel">
<a href="https://api.whatsapp.com/send?phone={{ whatsapp[0].value|wafilter }}&utm_source=WAwebsite&utm_medium=WebsiteKD&utm_campaign=WebsiteKD&utm_id=WAwebsite" target="_blank"><div class="floating-wa-button"><i class="fab fa-whatsapp"></i></div></a>
</div>

<div class="mobile-menu-bar show-mobile"> 
    <a href="#side-menu" id="btn-side-menu"><div class="burger" ><span></span><span></span><span></span><span></span></div> </a>
    <div class="flex justify-content-center" style="height:100%;"> 
	   <div  style="width: 5em;text-align:center;"><a href="/"><i class="home fa-solid fa-house"></i></a></div>
       <div class="consume brand-text" style="text-align: center">NGULU</div>
	   <div style="width: 5em"></div>
    </div>
</div>
          
<div class="header-menu hide-mobile user-select-none">
<div class="menu-bar">
    <div class="content-wrapper">
        <div class="flex flex-direction-column">  
            
            <div class="flex justify-content-between" style="width:100%">
                
                <div class="home-menu">  
                     <a href="/" title="{{ LANG.home }}"><div class="company-logo" style="background-image:url('/phpthumb/phpThumb.php?src={{ PHPTHUMB_URL_SRC }}setting/companyLogo/{{ settings.companyLogo }}&f=png&hash={{ getPHPThumbHash(settings.companyLogo) }}')"> </div></a> 
                </div>
<!--                <div class="home-menu-mobile"><a href="/"><img src="{{ TEMPLATE_IMG_PATH }}logo-only.png"></a></div>-->
                <ul class="main-menu consume">     
                     <li name="/index" ><a href="/" title="{{ LANG.home }}">{{ LANG.home|upper }}</a> </li>
                     <li name="/products"><a href="/products" title="{{ LANG.products }}">{{ LANG.products|upper }}</a></li>
<!--                     <li name="/events"><a href="/events" title="{{ LANG.event }}">{{ LANG.event|upper }}</a></li>-->
                     <li name="/articles"><a href="/articles" title="{{ LANG.articles }}">{{ LANG.articles|upper }}</a></li>
                     <li name="/contact-us"><a href="/contact-us" title="{{ LANG.contactUs }}">{{ LANG.contactUs|upper }}</a></li>
                </ul>  
				<div class="wa-button">
						<a href="https://api.whatsapp.com/send?phone={{ whatsapp[0].value|wafilter }}&utm_source=WAwebsite&utm_medium=WebsiteKD&utm_campaign=WebsiteKD&utm_id=WAwebsite" target="_blank"><i class="fab fa-whatsapp"></i><span class="label">{{ LANG.messageUs }}</span></a>
				</div>
                 <div class="lang-col">
                         <div class="lang">
                            {% for langRow in rslang %}
                            <div class="mnv-lang  {% if langRow.code == activeLangIndex %}selected{% endif %}"  {% if langRow.code != activeLangIndex %}style="display:none"{% endif %} relkey="{{ langRow.code }}">
                               <div class="flag img-bg" style="background-image:url('/phpthumb/phpThumb.php?src={{ PHPTHUMB_URL_SRC }}lang/{{ langRow.pkey }}/{{ langRow.file }}&hash={{ getPHPThumbHash(langRow.file) }}')"></div>
                               <div class="text" >{{ langRow.code|upper }}</div>
                               <div style="clear: both"></div>
                            </div> 
                            {% endfor %}
                         </div> 
                </div> 
            </div>
            
        </div> 
    </div>
<div style="clear: both" ></div>
</div>

     
</div>
<div class="dummy-header"></div>    
<div style="clear:both"></div>    
<!--</div>-->
<div id="{{ PAGE_ID }}"> 
<div class="min-page-height">{% block content %}{% endblock %}</div>
</div>  
<div class="footer"> 
	
    <div class="content-wrapper">
		<div style="text-align: center">
		<h2>{{ LANG.toOrder }}</h2>
		<div>{{ LANG.dontHestitate }}</div>
		</div>

		<div style="clear: both; height: 2em"></div>    
		<div class="" style="border:1px solid #63595E; width: 100%; margin: auto; border-bottom: 0; border-left: 0; border-right: 0;"></div>


    <div style="clear: both; height: 2em"></div>    
    <div class="footer-col flex align-items-start">
        <div class="consume"> 
            <h2 class="text-gold">{{ settings.companyName|raw }}</h2> 
            <div >{{ settings.companyAddress|raw }}</div>
            <div style="clear: both; height: 1em"></div>    
			<div class="div-table">
			{% for item in settings.companyPhone %}   
			<div class="div-table-row"> 
				<div class="div-table-col-3" style="width:2em; font-size: 1.2em"><i class="fa fa-phone"></i></div> 
				<div class="div-table-col-3">{{ item.value }}</div>
			</div>
			{% endfor %}
			
			{% for item in settings.companyEmail %}   
			<div class="div-table-row"> 
				<div class="div-table-col-3" style="width:2em; font-size: 1.2em"><i class="fa fa-envelope"></i></div> 
				<div class="div-table-col-3">{{ item.value }}</div>
			</div>
			{% endfor %} 
			</div>	 
            <div style="clear: both; height: .3em"></div>     
        </div>
         <div  class="consume"> 
             
             <h2>{{ LANG.socialMedia }}</h2>  
              <div class="medsos-panel"> 
                 {% for item in settings.companyMedsos %}  
                    <div><span class="text-gold"><i class="{{ macro.getMedsosIcon(_context,item.label) }}"></i></span> <a href="{{ item.value }}" title="{{ LANG.linkto }} {{ item.desc }}" target="_blank">{{ item.desc }}</a></div>
                  {% endfor %}   
             </div> 
        </div>
 
        
    </div>
        
    <div style="clear: both;"></div>    
    <div style="padding-top: 1em;   width: 100%; border-bottom: 0; border-left: 0; border-right: 0; " class="text-gold">© 2024 {{ settings.companyName|raw }}. All rights reserved.</div>
    <div style="clear: both; height: 1em"></div>    
    </div>
</div> 
    
<nav id="side-menu" class="hide">        
<ul >
	<li name="/index" ><a href="/" title="{{ LANG.home }}">{{ LANG.home|upper }}</a> </li>
	<li name="/products"><a href="/products" title="{{ LANG.products }}">{{ LANG.products|upper }}</a></li>
	<li name="/articles"><a href="/articles" title="{{ LANG.articles }}">{{ LANG.articles|upper }}</a></li> 
<!--	<li name="/events"><a href="/events" title="{{ LANG.event }}">{{ LANG.event|upper }}</a></li> -->
	<li name="/contact-us"><a href="/contact-us" title="{{ LANG.contactUs }}">{{ LANG.contactUs|upper }}</a></li> 
</ul>
	  
</nav>  
<!-- set constant first -->
<link rel="stylesheet" type="text/css" href="{{ TEMPLATE_CSS_PATH }}bootstrap.min.css"> 
<link rel="stylesheet" type="text/css" href="{{ TEMPLATE_CSS_PATH }}mmenu.min.css">
<link rel="stylesheet" type="text/css" href="{{ TEMPLATE_CSS_PATH }}slick-all.css">   
    
{% block CSS %}
{% endblock %}   <!-- harus sebelum webstyle agar bisa dioverwrite -->
<link rel="stylesheet" type="text/css" href="{{ TEMPLATE_CSS_PATH }}webStyle.1.20.min.css">
{% block CSSInline %}{% endblock %}    
     
<script type="text/javascript" src="{{ TEMPLATE_JS_PATH }}jquery-3.3.1.min.js"></script>  
<script type="text/javascript" src="{{ TEMPLATE_JS_PATH }}mmenu.min.js"></script>   
<script type="text/javascript" src="{{ TEMPLATE_JS_PATH }}jquery-ui.min.js"></script>   
<script type="text/javascript" src="{{ TEMPLATE_JS_PATH }}bootstrap.min.js"></script>  
<script type="text/javascript" src="{{ TEMPLATE_JS_PATH }}slick.min.js"></script>
    
{% block JS %}{% endblock %}    
    
<script type="text/javascript">
// onload CSS
function loadCSS(a,d,f,g){var b=window.document.createElement("link");var c=d||window.document.getElementsByTagName("script")[0];var e=window.document.styleSheets;b.rel="stylesheet";b.href=a;b.media="only x";if(g){b.onload=g}c.parentNode.insertBefore(b,c);b.onloadcssdefined=function(h){var k;for(var j=0;j<e.length;j++){if(e[j].href&&e[j].href===b.href){k=true}}if(k){h()}else{setTimeout(function(){b.onloadcssdefined(h)})}};b.onloadcssdefined(function(){b.media=f||"all"});return b};

loadCSS( "{{ TEMPLATE_CSS_PATH }}all-fontawesome.min.css" );   
    
</script> 
<script type="text/javascript">
    
var $phpConfig = new Array();
$phpConfig['uploadTempDocShort']  = "{{ UPLOAD_TEMP_DOC_SHORT }}";
$phpConfig['uploadTempURL']  = "{{ UPLOAD_TEMP_URL }}";
const  PHP_CONFIG = $phpConfig; 
</script>    
<script type="text/javascript" src="{{ TEMPLATE_JS_PATH }}critical-js.min.js"></script>
    
<script type="text/javascript"> 
    
    var sideLang = '<div class="side-menu-logo" style="background-image:url(\'/phpthumb/phpThumb.php?src={{ PHPTHUMB_URL_SRC }}setting/companyLogo/{{ settings.companyLogo }}&f=png&hash={{ getPHPThumbHash(settings.companyLogo) }}\')"></div><div style="clear:both"></div><div class="flex flag-icon">';
     
	document.addEventListener('contextmenu', event => {
		event.preventDefault();
	});

    {% for langRow in rslang %}
        sideLang += '<div class="side-menu-lang {{ langRow.code }}" relkey="{{ langRow.code }}" style="background-image:url(\'/phpthumb/phpThumb.php?src={{ PHPTHUMB_URL_SRC }}lang/{{ langRow.pkey }}/{{ langRow.file }}&hash={{ getPHPThumbHash(langRow.file) }}\')">&nbsp;</div>';  
    {% endfor %}
          
    sideLang += '</div>';
	 
	sideLang = '<div class="header-side-menu">'+sideLang+'</div>'; 
        
    document.addEventListener(
            "DOMContentLoaded", () => {
                
                const menu = new Mmenu( "#side-menu" , {
                   "offCanvas": {
                      "position": "right"
                   }, 
                    navbars     : [
                        { 
                            content     : [ 'prev' ]
                        },
                        {
                            position    : 'top',
                            content     : [ sideLang ]
                        }
                    ],
                    
                    "hooks" : {  "open:before": ( panel ) => {  document.querySelector(".burger").classList.toggle('open');  document.querySelector("#side-menu").classList.remove('hide'); },
                                 "close:before": ( panel ) => { document.querySelector(".burger").classList.toggle('open');  }, 
                            }
                });
 
                  const api = menu.API;
                  api.open();
                  api.close(); // buat benerin bugs utk positif fixed di body (wa floating button) 
      
            }
        );
    

        
    var cssLoaded = false;
    
    var dfLoadStatus = 0;
    var dfLoadFiles = [ 
      ["{{ TEMPLATE_JS_PATH }}jquery.formatCurrency-1.4.0.min.js"],   
      {% block dfLoadFiles %}{% endblock %} // ntah knp gk bisa ditaro di bwh template.min
      [ 
       "{{ TEMPLATE_JS_PATH }}jquery.easing.1.3.min.js",  
       "{{ TEMPLATE_JS_PATH }}template-1.6.min.js"
      ]
     ];
      
    function downloadJSAtOnload() {
        
        //load css first
        if (!cssLoaded){ 
            //loadCSS( "{{ TEMPLATE_CSS_PATH }}webStyle.1.0.min.css" );
            cssLoaded = true;
        }
        
        if (!dfLoadFiles.length) return;

        var dfGroup = dfLoadFiles.shift();
        dfLoadStatus = 0;
 
        for(var i = 0; i<dfGroup.length; i++) {
            dfLoadStatus++;
            var element = document.createElement('script');
            element.src = dfGroup[i];
            element.onload = element.onreadystatechange = function() {
                if ( ! this.readyState || this.readyState == 'complete') {
                    dfLoadStatus--;
                    if (dfLoadStatus==0) downloadJSAtOnload();
                }
            };
            document.body.appendChild(element); 
      } 
    }
     
    if (window.addEventListener)
        window.addEventListener("load", downloadJSAtOnload, false);
    else if (window.attachEvent)
        window.attachEvent("onload", downloadJSAtOnload);
    else window.onload = downloadJSAtOnload;
    
    
    function onLoadScript(){  
		

        {% for activeMenuItem in ACTIVE_MENU %}
            $("[name='{{ activeMenuItem }}']").addClass("selected");    
        {% endfor %} 
        
        $(".lang").hover(
          function() {
            $( this ).find(".mnv-lang").show();  
          }, function() {
            $( this ).find(".mnv-lang:not('.selected')").hide();  
          }
        );
         
        $(".mnv-lang, .side-menu-lang").click(function() { 
            var arrParam = { langkey:$(this).attr("relkey") };
		
            $.ajax({
                type: "POST",
                url: "/ajax-lang.php", 
                data : arrParam,
                success: function(data){  
                        location.reload();
                } 
            }); 
        });  
     
		// hanya jika blm pernah diclose
		{% if  not newsletterLoaded %}
			var arrayPopup = new Array()
			arrayPopup['url'] = '/popup-newsletter'; 
			loadOverlayScreen(arrayPopup); 
		{% endif %}
		 
        {% block JSOnLoad %}{% endblock %}
     }
          
</script>   
     
</body> 
</html>
{{ settings.chatSupport|raw }}