{% macro getMedsosIcon(variables,label) %}    
    {% if label|lower == "fb" or label|lower == "facebook" %}  
        {% set FA_ICON = "fab fa-facebook-square" %}
    {% elseif label|lower == "instagram" %}  
        {% set FA_ICON = "fab fa-instagram" %}
    {% elseif label|lower == "twitter" %}  
        {% set FA_ICON = "fab fa-twitter" %}
    {% elseif label|lower == "youtube" %}  
        {% set FA_ICON = "fab fa-youtube" %}
    {% elseif label|lower == "linkedin" %}  
        {% set FA_ICON = "fab fa-linkedin-in" %}
    {% elseif label|lower == "tiktok" %}  
        {% set FA_ICON = "fa-brands fa-tiktok" %} 
    {% endif %}  
    {{ FA_ICON }}
{% endmacro %}


{% macro buildItemDataCard(variables) %}   
 {% set rsItem = variables.rsItem %}
 <div class="item-data-card"> 
    <ul >  
         {% for item in rsItem %} 
                 <li class="auto-height">
                      
                      {% if item.name is empty %}
                        {% set itemname = item.code  %}
                        {% set itemnamelink = item.code  %}
                        {% set hreftitle = item.code  %}
                      {% else %}
                        {% set itemname = item.name %}
                        {% set itemnamelink = item.linkname %}
                        {% set hreftitle = item.name  %}
                      {% endif %}

                     
                      {% set imagesize = "contain" %}
                      {% if not variables.settings.thumbnailImageSize is empty and variables.settings.thumbnailImageSize == 2 %}
                        {% set imagesize = "cover" %}
                      {% endif %}
                  
                    <div itemscope itemtype="http://schema.org/offer" class="panel-data" >  
                        <a href="/products-detail/{{ item.name|urlfilter|raw }}/{{ item.pkey }}" title="{{ item.name|urlfilter|raw }}">
                        <div class="mobile-image">
							<img src="/phpthumb/phpThumb.php?src={{ variables.PHPTHUMB_URL_SRC }}item/{{ item.pkey }}/{{ item.mainimage }}&w=500&h=500&hash={{ getPHPThumbHash(item.mainimage)  }}" alt="{{ itemname }}"/>
							<div style="clear: both"></div>	
						</div>
                        <div class="image"  style="background-size: {{ imagesize }}; background-image:url('/phpthumb/phpThumb.php?src={{ variables.PHPTHUMB_URL_SRC }}item/{{ item.pkey }}/{{ item.mainimage }}&w=500&h=500&hash={{ getPHPThumbHash(item.mainimage) }}')"></div>
                        
                        <div itemprop="name" class="name" >{{ itemname|raw }}</div>
                        <div itemprop="description" class="description" >{{ item.shortdescription|raw }}</div>
                        <div style="clear:both;"></div>  
						</a> 
                     </div>   
                </li> 
         {% endfor %}   
   		 <div style="clear:both;"></div>
    </ul>  
 </div>    
{% endmacro %}

{% macro buildPagePath(variables,overwritePath = '',className='') %}    
<div class="page-path {% if not className is empty %}{{ className }}{% endif %} " >
	<div class="content-wrapper">
		<div class="flex">
		<div><a href="/"><i class="fas fa-home"></i></a></div>
		<div><i class="fas fa-chevron-right"></i></div>
		<div><a href="{{ variables.REQUEST_URI }}">
			{% if  overwritePath is empty %}
				{{ variables.PAGE_NAME }}
			{% else %}
			 	{{ overwritePath }}
			{% endif %} 
			</a></div>
		</div>
	</div>
</div>
{% endmacro %} 

{% macro buildPageList(variables,pagePath,pageOpt) %}    
    {% set totalPages = variables.totalPages %}  
    {% set pageIndex = variables.pageIndex %}   
    {% set pageUrlParam = variables.pageUrlParam %}  
	{% set pageVar = 'page' %}

	{% if not pageOpt is empty %}
		{% set totalPages = pageOpt.totalPages %} 
		{% set pageIndex = pageOpt.pageIndex %} 
		{% set pageVar = pageOpt.pageVar %} 
	{% endif %}

    {% if totalPages > 0 %}  
       <div class="page-list-margin"></div> 
        <ul class="prev-next-page">
        {% if pageIndex == 0 %}
        {% set class, url = 'inactive-prev-next-page','replaceurl' %}
        {% else %}
        {% set class, url = '', '<a href="/' ~ pagePath ~ '/0" title="' ~ LANG.firstPage ~ '">replaceurl</a>' %}
        {% endif %}
        {{ url|replace({'replaceurl':'<li class="' ~ class ~ '">First</li>'})|raw }}
        {% if pageIndex > 0 %}
        {% set class, url = '','<a href="/' ~ pagePath ~ '/' ~  (pageIndex-1) ~ '" title="' ~ LANG.previousPage ~ '">replaceurl</a>' %}
        {% else %}
        {% set class, url = 'inactive-prev-next-page', 'replaceurl' %}
        {% endif %}
        {{ url|replace({'replaceurl':'<li class="' ~ class ~ '">Prev</li>'})|raw }}
        {% if pageIndex < (totalPages-1) %}
        {% set class, url = '','<a href="/' ~ pagePath ~ '/' ~  (pageIndex+1) ~ '" title="' ~ LANG.nextPage ~ '">replaceurl</a>' %}
        {% else %}
        {% set class, url = 'inactive-prev-next-page', 'replaceurl' %}
        {% endif %}
        {{ url|replace({'replaceurl':'<li class="' ~ class ~ '">Next</li>'})|raw }}
        {% if pageIndex == (totalPages-1) %}
        {% set class, url = 'inactive-prev-next-page', 'replaceurl' %}
        {% else %}
        {% set class, url = '','<a href="/' ~ pagePath ~ '/' ~  (totalPages-1) ~ '" title="' ~ LANG.lastPage ~ '">replaceurl</a>' %}
        {% endif %}
        {{ url|replace({'replaceurl':'<li class="' ~ class ~ '">Last</li>'})|raw }}
        </ul>
        <ul class="page">
        {% set visiblePages = 5 %}
        {% set showOthers = 1 %}
        {% for i in 0..totalPages-1 %}
        {% if i == 0 or i == totalPages -1 or (i > pageIndex - visiblePages and i < pageIndex + visiblePages) %}
        {% set showOthers = 1 %}
        {% if pageIndex == i %}
        {% set class, url = 'page-active', 'replaceurl' %}
        {% else %}
        {% set class, url = '','<a href="/' ~ pagePath ~ '&'~ pageVar ~'=' ~ i  ~ pageUrlParam ~ '" title="' ~ LANG.page ~ ' ' ~  (i + 1) ~ '">replaceurl</a>' %}
        {% endif %}
        {{ url|replace({'replaceurl':'<li class="' ~ class ~ '">' ~ (i+1) ~ '</li>'})|raw }}
        {% else %}
        {% if showOthers == 1%}
        <li class="ellipsis">&middot;&middot;&middot;</li>
        {% set showOthers = 0 %}
        {% endif %}
        {% endif %}
        {% endfor %}
        </ul>
        <div class="page-list-margin"></div>  
     {% endif %}        
                   
{% endmacro %} 