@font-face {
  font-family: 'InterFont';      
  src: url('../fonts/inter/Inter-VariableFont_opsz,wght.ttf');
  font-weight: 100 700;
  font-style: normal;
}

@font-face {
  font-family: 'InterFont';
  src: url('../fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf');
  font-weight: 100 700;
  font-style: italic;
}

@font-face {
  font-family: 'LibreBodoniFont';
  src: url('../fonts/libre-bodoni/LibreBodoni-VariableFont_wght.ttf');
  font-weight: 100 700;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBodoniFont';
  src: url('../fonts/libre-bodoni/LibreBodoni-Italic-VariableFont_wght.ttf');
  font-weight: 100 700;
  font-style: italic;
}

@font-face {
  font-family: 'LibreBaskerville';
  src: url('../fonts/libre-baskerville/LibreBaskerville-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskerville';
  src: url('../fonts/libre-baskerville/LibreBaskerville-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskerville';
  src: url('../fonts/libre-baskerville/LibreBaskerville-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoFont';
  src: url('../fonts/roboto/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsFont';
  src: url('../fonts/poppins/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}


body{margin:0px; font-family: 'InterFont' !important; background-color: #FAFAFA !important; color: #555555;}
body img {max-width: 100%}
body a, .link{cursor:pointer; color:#000; text-decoration: underline} 
a, a:hover, a:active,  a:link,  a:visited {text-decoration: none; color :#333} 
a:hover {text-decoration: underline}

a.grey, a.grey, a.grey:hover, a.grey:active,  a.grey:link,  a.grey:visited  {color:#888888}

body a:hover, .link:hover{ color:#000}  

#popup-panel {position:fixed;top:0px;bottom:0px;left:0px;right:0px; display: none; background-color:rgba(0,0,0,0.7); z-index:9999;  vertical-align: middle; overflow: scroll} 
.content-wrapper{max-width: 1440px; margin: auto; padding:0 7em; position: relative; overflow:none}
.inner-wrapper {width: 85%; margin: auto}

*:focus {  outline: none !important; }
.user-select-none { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.mnv-show-password {font-size: 1.2em; color: #000; cursor: pointer; background-color: #fff; border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 2px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px !important;
    text-align: center; 
}
.has-feedback .form-control-feedback {top: 0 !important;}

.show-mobile{display:none !important}
.hide-mobile{display:inherit}
.hide {display: none}
.main-panel {position: relative} 
/* default table */ 
.div-table{display:table}
.div-table-caption {display: table-caption}
.div-table-caption-3 {display: table-caption; padding: 0.3em}
.div-table-col{display:table-cell; vertical-align:top;}
.div-table-col-20{display:table-cell; padding:2em; vertical-align:top;}
.div-table-col-5{display:table-cell; padding:0.5em; vertical-align:top;}
.div-table-col-3{display:table-cell; padding:0.3em; vertical-align:top;}
.div-table-row{display:table-row;} 

.div-table .div-table-row.vertical-middle .div-table-col-3{vertical-align: middle}

.page {clear:both; margin-top:1em; list-style:none; margin:0px;padding:0px;  } 
.page li{padding:0.2em 0.5em !important; margin:0 0.1em !important; border-radius: 0.3em; color:#888888;  text-align:center !important;  display:inline-block; }
.page li:hover{text-decoration: underline}
.page .ellipsis:hover { border-bottom:0 !important; text-decoration: none !important}
.page .page-active{text-decoration:underline!important;  color: #555 !important; font-weight: bold}

.prev-next-page {display:none; padding:0; text-align:center}  
.prev-next-page a > li, .prev-next-page .inactive-prev-next-page {width:22%; background-color:#FFF; border:1px solid #5182bb; color:#5182bb; margin:1% !important;text-decoration:none !important; display:inline-block; padding:0.5em 0;}
.prev-next-page a > li:hover {background-color:#5182bb; color:#fff;}
.prev-next-page .inactive-prev-next-page, .prev-next-page .inactive-prev-next-page:hover { background-color:#FFF !important; border:1px solid #dedede !important;  color:#dedede !important;}
 
.scrollToTop {color:#666 !important; text-decoration:none !important; line-height:1em; text-align:center;  opacity: 0.8 !important}
.scrollToTop:hover  {color:#dedede !important;  text-decoration:none; opacity: 1}

.scrollToTop .arrow {}
.scrollToTop:hover .arrow {}
.back-to-top {font-size: 3em}
 
.input-date, .input-datetime, .input-month  {background-color:#fff !important; cursor:text !important;}  


/* TEXT COLOR SET */
.text-white {color:#FFF !important;}
.text-green-avocado  {color:#568203 !important;}
.text-red-cardinal  {color:#C41E3A !important;}
.text-yellow-mikado  {color:#FFC40C !important;}
.text-blue-munsell {color:#0093AF !important;}
.text-purple-purpureus{color:#9A4EAE !important;}
.text-black-jet{color:#343434 !important;}
.text-gray-dim{color:#696969 !important}
.text-gainsboro{color:#F00 !important}
.text-cobalt-blue{color:#0047AB !important;} 
.text-red-salmon{color:#c95b5f !important;} 
.text-gold {color: #C7A444 !important}
.text-gold a{color: #C7A444 !important;}

/* BG COLOR SET */
.bg-green-avocado {background-color:#568203  !important;}
.bg-red-cardinal {background-color:#C41E3A  !important;}
.bg-red-salmon {background-color: #c95b5f !important}
.bg-yellow-mikado {background-color:#FFC40C  !important;}
.bg-blue-munsell {background-color:#0093AF  !important ;}
.bg-blue-steel {background-color:#4682b4  !important ;}
.bg-purple-purpureus{background-color:#9A4EAE !important;} 
.bg-gray-dim{background-color:#696969 !important;} 
.bg-silver{background-color:#C0C0C0 !important;} 
.bg-gold{background-color:  #C7A444 !important} 
.bg-green-checkout {background-color: #3D9646 !important;}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

textarea{resize: vertical;}

/* BOOTSTRAP OVERRIDE */
.container {width:100%; padding: 0 !important} 

.form-control:focus { border-color: inherit !important;  -webkit-box-shadow: none !important;  box-shadow: none !important;} 

.form-horizontal .control-label {text-align: left}
 
/* BOOTSTRAP OVERRIDE */
 
.auto-complete.flex-container {padding: 0;margin: 0; list-style: none; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: space-around;}
.auto-complete .flex-item{padding: 0; margin: 0}
.auto-complete .textbox{flex-grow: 1} 
.auto-complete .add-button {cursor: pointer; padding-top: 0.1em; font-size: 1.8em !important; margin: 0 0.2em; width: 20px; text-align: center; color: #428bca; border:0px; border-radius: 4px }#; border-color: #3F9BC8
.auto-complete .add-button:hover {color: #3276b1} 
.auto-complete li {position: relative}
.auto-complete .fa-sistrix {position: absolute; top: 0.6em; right: 0.8em; font-size: 1.2em; color: #666}

.flex {display: flex; align-items:center}
.flex [type="checkbox"] {margin-top:0 !important} 
.flex > div {margin-right: 0.5em}
.flex > div:last-child{margin-right: 0}
.flex .consume {flex:1}  

.flex.align-items-start {align-items: flex-start}
.flex.align-items-end {align-items: flex-end}
.flex.align-items-center {align-items: center}
.flex.align-items-stretch {align-items: stretch}

.flex.flex-direction-column {flex-direction: column} 
.flex.flex-direction-column > div {margin-right: 0}
.flex.justify-content-end {justify-content: flex-end}
.flex.justify-content-center {justify-content: center}
.flex.justify-content-between {justify-content: space-between} 
.flex.justify-content-space-around {justify-content: space-around} 

.ui-autocomplete-loading {background: white url(../img/loading.gif) right center no-repeat !important; background-position:calc(100% - 2em)  !important;}
.ui-autocomplete {max-height: 100px; overflow-y: auto; overflow-x: hidden; font-size:0.8em !important;}   
.ui-dialog-buttonpane button {font-size:0.8em !important; }
.ui-dialog-buttonpane {padding:0 !important; }

.ui-autocomplete .ui-menu-item {font-size: 1.2em; padding: 0} 
.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper {padding: 0.5em 1em; border:0}

.mobile-menu {display: inline-block; float:left; padding: 0.5em} 

.no-odd-even-style {background-color:transparent !important;}

/* ============================ SCROLL TO TOP ========================= */  
/* core */
.scrollToTop {position: fixed;left: 20px ;bottom: -5em;opacity: 0;overflow: hidden;outline: none;} 
.scrollToTop_show {opacity: 1;bottom: 20px;} 
@-webkit-keyframes scrollToTop_fade {0%	 {opacity: 0;}100% {opacity: 1;}}
@keyframes scrollToTop_fade {0%   {opacity: 0;}100% {opacity: 1;}}
@-webkit-keyframes scrollToTop_slide {0%   {bottom: -100px;}100% {bottom: 20px;}}
@keyframes scrollToTop_slide {0%   {bottom: -100px;}100% {bottom: 20px;}}
 
.scrollToTop_animating,.scrollToTop_animating * {pointer-events: none !important;}

.scrollToTop {width: 50px;height: 50px;color: #000; font-size: 12px;text-decoration: none;text-transform: uppercase;text-indent: 100%;white-space: nowrap;background: no-repeat center center transparent;}
.scrollToTop_default {display: block;width: auto;height: auto;padding: 10px;text-indent: 0; border-radius: 10px;}
.scrollToTop_default:hover {}

/* skin(cycle) */
.scrollToTop_cycle {background-image: url("../img/cycle.png");}
.scrollToTop_cycle:hover {background-image: url("../img/cycle-hover.png");}

/* skin(square) */
.scrollToTop_square {background-image: url("../img/square.png");}
.scrollToTop_square:hover {background-image: url("../img/square-hover.png");}

/* skin(text) */
.scrollToTop_text {background-image: url("../img/text.png");}
.scrollToTop_text:hover {background-image: url("../img/text-hover.png");}

/* skin(triangle) */
.scrollToTop_triangle {background-image: url("../img/triangle.png");}
.scrollToTop_triangle:hover {background-image: url("../img/triangle-hover.png");}
/* ============================ SCROLL TO TOP ========================= */ 


/* ============================= CONTENT ============================== */

/* === rarely change === */
.basic-table-01 {margin: auto; width: 100%; }
.basic-table-01 .col-header {background-color: #dedede}
.basic-table-01 .col-header .div-table-col-3:first-child{border-radius: 0.3em 0 0 0.3em}
.basic-table-01 .col-header .div-table-col-3:last-child{border-radius: 0 0.3em 0.3em 0} 

.basic-table-01 .div-table-row:nth-child(2n+3) {background-color:#f6f6f6; } 
.basic-table-01 .div-table-row:nth-child(2n+3) .div-table-col-3:first-child {border-radius: 0.3em 0 0 0.3em}
.basic-table-01 .div-table-row:nth-child(2n+3) .div-table-col-3:last-child {border-radius: 0 0.3em 0.3em 0} 
.basic-table-01 .align-left {text-align:left}
.basic-table-01 .align-right {text-align:right} 
.basic-table-01 .align-center {text-align:center} 
.basic-table-01 .align-center input{margin: auto} 
.basic-table-01 .text-align-right input{text-align: right} 
.basic-table-01 .table-row-mode {display: none !important;}

.loading {font-size: 2em; display: inline-block}
.scroll-to-top {cursor:pointer; background-position:0px -25px; }  
.notification-msg{color:#fff;border-radius: 0.2em;}
.notification-msg.show{padding:0.3em 0; margin: 0 0 1em 0}
.notification-msg > ul{margin:0; padding:0; padding-left:2em; list-style: none; padding: 0 0.5em; margin: 0} 
.btn {border-radius: 0 !important;}
.btn-primary .loading-icon{display: none} 
.btn-primary {background-color: #08144c !important; border-color: #08144c !important;}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active  {background-color: #08144c !important; border-color: #08144c !important;}

.slick-slider{margin: 0; padding: 0}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled:active, 
.btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], 
.btn-primary[disabled].active, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, 
.btn-primary[disabled]:hover {background-color: #999; border-color: #999; color: #666}
.btn-link, .btn-link:focus {background-color:  #6CACE4; border-radius: .5em; padding: 0.5em 1em; color: #fff !important}
.btn-link:hover {text-decoration: none !important; background-color:  #6CACE4;  filter: brightness(1.1)}
.btn-link:link,.btn-link:active, .btn-link:visited{text-decoration: none !important}

.icon-link {cursor: pointer; text-decoration: none; color: #666}
.icon-link:hover {text-decoration: none;  color: #333}

/* utk content seperti recovery account, sementara harus text align center*/
.free-page {text-align: center; min-height: 40em;}
.free-page img{max-width: 100% !important; height: auto !important;}

#btn-side-menu {display: none; width: 3em; height: 2em; position: absolute; top: 2.5em; right: 1.5em}
#side-menu.hide {display: none}

#side-menu.mm-menu {--mm-color-background: #ffffff;}
#side-menu .mm-navbar {color:#333; font-size: 1.3em}
#side-menu .mm-panels .mm-panel:first-child .mm-navbar{display: none}
#side-menu .mm-listview {font-size: 2em; text-align: right; margin-top: 1em } 
#side-menu .mm-listview li a{color: #666 !important; margin-bottom: .5em}
#side-menu .mm-listitem{color: #fff }
#side-menu .side-menu li {color: #fff;}
#side-menu .selected {background: rgba(255, 255, 255, 0.2); color: #C7A444}
#side-menu .mm-listview > li:not(.mm-divider):after {border: 0}
#side-menu .side-menu li:hover:not(.divider), #side-menu .mm-listview > li.mm-selected > a:not(.mm-next), .mm-menu .mm-listview > li.mm-selected > span {background: rgba(255, 255, 255, 0.2)}
#side-menu .mm-listview > li > a.mm-prev:before, #side-menu .mm-listview > li > a.mm-next:after, #side-menu .mm-header .mm-btn:before, .mm-menu .mm-header .mm-btn:after {border-color: #fff} 
#side-menu .mm-header .mm-title{color: #fff} 
#side-menu .divider::before, .divider::after {border-color: #ccc}

/*#side-menu .close-icon {font-size: 2em; top:1em; right:1em}*/

/*
#side-menu .flag-icon {justify-content: center}
#side-menu .flag-icon .side-menu-lang{width: 2em; height: 2em;   background-position: center; background-size: cover; background-repeat:no-repeat }
*/


.burger {width: 2.5em; height: 1.6em; position: relative; margin: auto;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .5s ease-in-out;-moz-transition: .5s ease-in-out;-o-transition: .5s ease-in-out;transition: .5s ease-in-out;cursor: pointer; z-index: 9999;}
.burger span  { display: block; position: absolute; height: 0.1em; width: 100%;  background: #000;  border-radius: 0em;  opacity: 1;  left: 0;  -webkit-transform: rotate(0deg);  -moz-transform: rotate(0deg);  -o-transform: rotate(0deg);  transform: rotate(0deg);  -webkit-transition: .25s ease-in-out;  -moz-transition: .25s ease-in-out;  -o-transition: .25s ease-in-out;  transition: .25s ease-in-out;}
.burger span:nth-child(1) {  top: 0;}
.burger span:nth-child(2),.burger span:nth-child(3) {top: 48%;}
.burger span:nth-child(4) {  bottom: 0;}
.burger.open span:nth-child(1) {  top: 18px;  width: 0%;  left: 50%;}
.burger.open span:nth-child(2) {  -webkit-transform: rotate(45deg);  -moz-transform: rotate(45deg);  -o-transform: rotate(45deg);  transform: rotate(45deg);}
.burger.open span:nth-child(3) {  -webkit-transform: rotate(-45deg);  -moz-transform: rotate(-45deg);  -o-transform: rotate(-45deg);  transform: rotate(-45deg);}
.burger.open span:nth-child(4) {  top: 18px;  width: 0%;  left: 50%;}

.search-box { width: 90%;  border: 1px solid #dedede;  border-radius: 0.5em; margin: auto;   height: 3em;} 
.input-item{ width: 90%;height: 2em;margin: 0.4em 0em; border: 0;} 
input[type].label-style, select.label-style {padding:5px; height: auto; outline-style:none !important ;  border:0 ;  border-bottom:1px solid #ccc;  border-radius: 0;  box-shadow: none !important; -webkit-box-shadow:none !important; -moz-box-shadow: none !important; -o-box-shadow:none !important; background: none;  } 
.search-box.label-style select, .search-box.label-style input {padding:5px; height: auto; -webkit-appearance:none; outline-style:none !important ;  border: 0 ;  border-radius: 0;  box-shadow: none !important; -webkit-box-shadow:none !important; -moz-box-shadow: none !important; -o-box-shadow:none !important; background: none;  }
.label-style select, .label-style input{  -webkit-appearance:none; outline-style:none !important ;  border: 0 ; border-bottom: 1px solid #dedede; border-radius: 0; box-shadow: none !important; -webkit-box-shadow:none !important; -moz-box-shadow: none !important; -o-box-shadow:none !important; background: none;  }

.scroll-to-top {cursor:pointer; background-position:0px -25px; }
 
.form-default  {width:98%; margin:auto;}   
 
.g_id_signin iframe {margin:auto !important; position:inherit !important; float:none !important;  }
.g_id_signin{  width: 100%;}  

/* === change here === */
.google-btn {border-radius: 3em;gap: .5em;margin: auto;cursor: pointer;}
.card-logo {width: 50px;height: 50px;background: white;border-radius: 50%;box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);}
.google-logo {width: 32px;height: 32px;}
.divider {display: flex;align-items: center;text-align: center;margin: 1.5em 0;}
.divider::before, 
.divider::after {content: "";flex: 1;border-bottom: 1px solid #6cace4;}
.divider:not(:empty)::before {margin-right: 0.5em;}
.divider:not(:empty)::after {margin-left: 0.5em;}

.chevron {margin: 0 0.5em}
.floating-cart {position: fixed; right: 0; top: 11em; background-color: #6CACE4; width: 3em; height: 3em; border-radius: 10px 0 0 10px; justify-content: center; z-index: 999;}
.floating-cart i {font-size: 1.5em; color: #fff; margin-right: 0.5em; cursor: pointer;}


/* BACKGROND */
.bg-white {background-color: white;}
.bg-blue-sbox {background-color: #001748;}
.bg-gray {background-color: #F9F9F9;}

/* HEADER */
.account-menu {position: absolute; top: 1.7em; right: 3.5em; color: #fff}
.account-menu a {text-decoration: none}
.account-menu a:hover {text-decoration:underline}
.account-menu .margin-right {margin-right: 3em}

[name=quickSearch] { background: url("../img/search-icon.svg") no-repeat 12px center; background-size: 1.5em; }

.header-menu {position: sticky; top:0; width: 100%; color: white; padding: 1em 0; z-index: 9990} 

.mobile-menu-bar {position: sticky; top:0; width: 100%; color: white; padding: 0 1em; z-index: 9990} 
.mobile-menu-bar .company-logo {width: 4em;  margin: auto;}
.company-logo {width: 4em;  margin: auto;}
/* .menu-bar {padding: 1em 3em;} */
.menu-bar .main-menu li {font-size: 1em; color: #333333;} 
.mobile-menu-bar [name=quickSearch] {width: 100%; height: 40px; background-color: #ffff; border-radius: 25px; border: none; color: black; padding: 0 35px 0 40px; }
.input-header-mobile {width: 37em; max-width: 100%; height: 40px; background-color: #ffff; border-radius: 10px; border: none; color: black; padding: 0 35px 0 40px;}
.search-header {width: 95%; height: 40px; background-color: #ffff; border-radius: 10px; border: none; color: black; padding: 0 35px 0 40px; margin-top: 10px;}
.mobile-menu-bar .search-header-panel {text-align: center; position: relative; margin-left: 1em;}
.mobile-menu-bar .search-header-panel input { background-color: #ebebeb; border-radius: 25px 0 25px 0;}
.main-menu {list-style: none; padding: 0; margin-bottom: 0; gap: 2em; }
.user-menu {list-style: none; padding: 0; margin-bottom: 0; gap: 1.4em; }
.user-menu i {color: #5B5B5B;}

.search-bar {position: relative; gap: 1em;}
.search-bar input{width: 20em; right: 0; height: 40px; background-color: #ebebeb; border-radius: 25px 0 25px 0; border: none; color: black; padding: .5em 1em .5em 3em;}
.company-logo-panel {padding: 1em;}
/*.search-bar input:focus {width:25em;}*/
.section-break-1 {height: 1em;}
.section-break-2 {height: 2em;}
.section-break-4 {height: 4em;}
.section-break-6 {height: 6em;}
.section-break-8 {height: 8em;}

.text-blue-sbox {color: #001748 !important;}
.font-bold {font-weight: 700;}
.font-semi-bold {font-weight: 600;}
.italic {font-style: italic;}
h1 {font-size: 2.5em; margin: 0 0;}
h2 {font-size: 1.2em; margin: 0 0; margin-top: 0.5em;}
.img-bg {background-position: center; background-repeat: no-repeat; background-size: cover}


.font-title {font-family: "LibreBodoniFont"; font-weight: 400;}
/* .font-title-italic {font-family: "LibreBodoniFont";} */
.font-libre-baskerville {font-family: "LibreBaskerville";}
.font-roboto {font-family: "RobotoFont";}
.font-poppins {font-family: "PoppinsFont";}

.switch {position: relative;display: inline-block !important;width: 40px;height: 20px;}

.switch input { opacity: 0;width: 0;height: 0;}

.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 1px 1px 2px #00000040
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.skeleton-img {
  width: 100%;
  padding-top: 100%;
  background: #eee;
  /* border-radius: 10px 10px 0 0; */
  animation: pulse 1.5s infinite;
}
.index-skeleton-img {
  width: 100%;
  height: 21.75em;
  background: #eee;
  animation: pulse 1.5s infinite;
  cursor: pointer;
}
@keyframes pulse {
  0% { background-color: #eee; }
  50% { background-color: #ddd; }
  100% { background-color: #eee; }
}

.border-bottom {border-bottom: 1px solid #717171;}

.item-card-list {margin: 0; padding: 0}
.item-card-list li {display: inline-block; float: left; margin-bottom:1em; }

.item-card {width: 16.66%; padding: 1em 0} 
/* .item-card .price-panel{border-top:1px  solid #BBBBBB}  */
.item-card .image {width: 100%; margin: auto;  border-radius: 10px 10px 0 0 ; }
.item-card .image img {max-width: 100%; max-height: 100%;  border-radius: 10px 10px 0 0 }
.item-card .price-subpanel, .item-card .item-name{width: 94%; margin: 0.5em 0;}
.item-card .price {font-size: 0.9em; color :#565656; margin: 0.2em 0}
.item-card .item-name {line-height: 1.5em}

.page-list {padding: 0 1em;}
.list-none {list-style: none; padding: 0; margin: 0;}

.slick-100,
.slick-100 li > div,
.slick-100 .slick-track, 
.slick-100 .slick-list, 
.slick-100 .slick-slide , 
.slick-100 .slick-slide > div,
.slick-100 li{height: 100%;}

.blend {mix-blend-mode: multiply;}

.back-to-top {position: fixed; bottom: 1.5em; right: 1em; display: none; z-index: 1000; overflow: hidden;}
.back-to-top > a {position: relative; text-decoration: none; background: #BCBCBC; color: white; padding: 0.5em 0.5em; border-radius: 50%; font-size: 1em; display: flex; align-items: center; justify-content: center; width: 1.3em; height: 1.3em;}
.back-to-top > a > i {position: absolute; animation-play-state: paused;}
.back-to-top a span {animation-play-state: paused; position: absolute;top: 50%;left: 52%;transform: translate(-50%, -50%);font-size: 0.23em;color: white;display: none;}
.back-to-top a:hover i {animation: fadeOutImg 0.5s forwards; color: white;}
.back-to-top a:not(:hover) i {animation: fadeInImg 0.5s forwards;}
@keyframes fadeOutImg {from {top: 50%;} to {top: -50%;}}
@keyframes fadeInImg {from {top: 100%; opacity: 0;} to {top: 50%; opacity: 1;}}
.back-to-top a:hover span {display: block;animation: fadeIn 1s forwards;}
@keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}}



/* CUSTOME */

/* PROFILE */ 
.profile .menu-profile {width: 20em} 
.profile .menu-profile  a{display: inline-block} 
.profile .menu-profile  a:hover{text-decoration: none}  
.profile .content-profile { background-color: white; min-height: 50em; padding-left: 2em; position: relative;}
.profile .menu-item {width: 17em;  padding: 1em;}
.profile .menu-item.selected { background-color: #08144c; color: white; /* Blue underline glow */}
 
.profile .address-item {padding: 1em; border-bottom:1px solid #333;  position: relative}
.profile .form-multiaddress {width: 100%}
.profile .input-show {display: none}
.profile .address-item .shipping-name {font-weight: 600; font-size: 1.2em; margin-bottom: 0.5em} 
.profile .address-item .btn-edit-panel .icon-button {cursor: pointer}
.profile .address-item .btn-delete, .profile .address-item .btn-cancel {margin-left: 0.5em;}
.profile .address-item .input-text > div{margin-bottom: .5em}
.profile .address-panel .control-label{font-weight: bold;}
.profile .new-address-panel {padding-bottom: 1em; border-bottom: 1px solid #333}
.profile [name=btnCancel] {background: #C41E3A !important; border: transparent;}
.profile [name=btnCancel]:hover{background: #D75B69 !important; border:transparent;}
.profile .content-profile .mnv-show-password {right: 1em; top: 2em;}
.profile .profile-name {position: absolute; top: 40%; left: 2em; font-size: 1.5em; color: #000;}
.profile .header-img-panel {position: relative;}
.profile .menu-profile.bg-white {box-shadow: 0px 2px 9px 0px #0000001F; padding: 1.5em; border-radius: 1.4em;}
.profile.content-wrapper {background-color: white;}
.profile #form-editprofile, .profile #form-update-password {border: 1px solid #717171; padding: 1em;}
.profile .address-panel {border: 1px solid #717171; padding: 1em;}
.profile .text-header {font-family: 'FontRoboto';}
.profile .menu-profile > .font-bold {font-size: 1.5em; color: #333333;}
.profile button {font-family: 'LibreBaskerville'; color: #F1F1F1E5;}
.profile .input-panel {padding: 0 1em; margin-bottom: 1em;}
.profile .control-label {margin-bottom: 0.3em;}

#login .login-panel {height: 100vh;}
#login .image-login-panel, #login .image-register-panel {width: 50%; background-position: center; background-repeat: no-repeat; background-size: cover; position: fixed; left: 0; top: 0; bottom: 0; height: 100vh;}
#login .image-login {width: 100%;}
#login .form-login-panel {width: 50%; margin-left: 50%; height: 100%;}
#login .input-panel {width: 70%;padding: 0 2em;}
#login .form-area {width: 100%;}
#login .form-area .form-input:last-child {margin-bottom: 0.5em;}
#login .form-input {width: 100%; margin-bottom: 1em;}
/* #login .form-input input {width: 100%;} */
#login .bottom-panel {width: 100%;}
#login .btn-login {width: 100%; }
#login .btn-login button {width: 100%; padding: 1em; font-family: 'LibreBaskerville'; color: #F1F1F1E5;}
#login h1 {margin: 1em 0;}
#login .login-google {border: 2px solid #08144c; padding: 1em; width: 100%; text-align: center; color: #08144c; cursor: pointer;}
#login .flex>div {margin-right: 0;}
#login .input-container {position: relative; width: 100%;}
#login .checkbox-panel {gap: 0.5em;}
#login .image-login .background-image {background-position: center; background-size: cover; height: 100vh;}
/* #login .right-column {height: 95vh;} */
#login .control-label {font-weight: normal; font-family: 'InterFont';}
#login .checkbox-panel label {margin-bottom: 0 !important;}
#login .logo {width: 7em;}

#form-forgot-password {width: 50%; height: 100vh; padding: 2em;}

#index h2 {margin-top: 0; font-size: 1.2em;}
#index .hero-section { background-repeat: no-repeat; background-size: cover; background-position: center; width: 100vw; height: 100vh;}
#index .list-category {padding: 2em 0;}
#index .image-tagline {border-radius: 250px 0 250px 0; width: 31.2em; height: 31.2em;}
#index .tagline-text {width: 50%;}
#index .tagline {width: 26.8em; justify-self: center;}
#index .sub-tagline {width: 25.8em;}
#index .tagline-image {width: 50%; position: relative;}
#index .card-product-feature {width: 17em;}
#index .image-product-feature {width: 98%; margin: auto; height: 21.75em; object-fit: cover; display: block;}
#index .arrow-panel {justify-self: end; margin: 1em 0;}
#index .arrow-left, #index .arrow-right {width: 2em; height: 2em; border: 1px solid #000; border-radius: 100%;}
#index .arrow-left-right {gap: 1.2em;}
#index .slick-list .draggable {margin-right: 0;}
/* #index .slick-list .slick-slide {margin-right: 0.5em;} */
#index .hero {width:100%;  padding: 0; margin: 0}
#index .hero .slick-slide {width: 100%; height: 100vh} /* height akan dioverwrite lagi di JS*/
#index .hero .slick-slide .banner {height: 100%; width: 100%}
#index .card-product-feature > .flex  {margin-right: 0.5em;}
#index .price-panel {margin-left: 0.1em; width: 97%;}
#index .image-product-feature:hover {cursor: pointer;}
#index .skeleton-img:hover {cursor: pointer;}
#index .tagline-image-panel {width: 100%;}
#index .product-name {font-weight: bold; line-height: 1.1em; color: #666; margin-top: .8em; margin-bottom: 0.5em;}
#index .price {color: #5B5B5B; font-size: 0.9em; margin-top: .8em;}
#index .archive-text {color: #334f41; font-weight: 600; letter-spacing: .05em;}
#index .usp {width: 100%; max-width: 14.5em;}
#index .usp .font-bold {margin-bottom: 0.5em; font-size: 1.2em;}
#index .reward-panel {width: 22em; padding: 2em;}
#index .reward-panel h1 {line-height: 160%;}
#index .desc-usp {font-weight: 300; line-height: 160%;}
#index .reward-panel .font-title, #index .desc-reward {color: #F1F1F1E5; font-weight: 400;}
#index .reward-img {height: 23em; width: 60%;}

#about-us .title-about-us {color: #000;}
#about-us .tagline-image {width: 70%; position: relative; margin: auto;}
#about-us .tagline-image::before {
  width: 85%;
  height: 100%;
  content: "";
  position: absolute;
  top: -20px;
  left: 20px;
  border: 2px solid #000;
  border-radius: 250px 0 250px 0;
  pointer-events: none;
  z-index: -10;
}
/* #about-us .image-tagline {border-radius: 250px 0 250px 0; width: 500px; height: 500px;} */
#about-us .about-us-panel {width: 100%;}
#about-us .title-about-panel {width: 46%;}
#about-us .image-panel {width: 64%;}
#about-us .sub-brand-panel {gap: 1em;}
#about-us .sub-brand {color: #000;}
#about-us .card-sub-brand {width: 33%;overflow: hidden;}
#about-us .card-sub-brand .card-image {height: 33em; overflow: hidden;}
#about-us .card-sub-brand img {width: 100%;height: 100%; aspect-ratio: 1/1; object-fit: cover;}
#about-us .short-desc {color: #5B5B5B;}
#about-us .text-about-panel {font-size: 1.4em; padding: 1em;}
#about-us .about {font-weight: 340;}
#about-us .title-about-us {font-size: 2.8em;}
#about-us .desc-about {font-size: 1.2em; color: #000}

#contact-us .image-contactus-panel {width: 30em;}
/* #contact-us .form-contactus-panel {width: 66%;}  */
#contact-us .form-contactus {width: 94%;}
#contact-us .form-input {width: 50%; align-self: stretch;}
#contact-us .btn {width: 100%; border-radius: 0; padding: .6em; }
#contact-us .title-contactus {color: #444444;}
#contact-us .form-horizontal .form-group {margin-right: 0; margin-left: 0;}
#contact-us .has-feedback .form-control-feedback {top: 1.8em !important; right: 0;}
#contact-us .form-group {margin-bottom: 0;}

#products .aside-panel {width: 17%; margin-right: 2.4em;}
#products .card-aside {gap: 0.2em; margin-bottom: 1em; background: white; padding: 1em; border-radius: 0.2em; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);}
#products .filter-panel {padding: 1em; border: 1px solid #dedede; border-radius: 0.5em; margin-bottom: 1em;}
#products .products-panel {padding: 2em;}
#products .image-panel {position: relative;}
#products .item-card {width: 33.33%; padding: 0.7em; aspect-ratio: 1/1;}
#products .tag {position: absolute; top: 1em; left: 1em; background-color: #D9D9D9; border-radius: 1em; padding: 0.5em 0.8em; border: 1px solid #C4C4C4; color: #5B5B5B; display: none;}
#products .like {position: absolute; top: 1.5em; right: 1em;}
#products .fa-lg {font-size: 1.6em;}
#products h2 {margin: 1em 0; line-height: 1em; font-size: 1.1em;}
#products .text-category {font-size: 1.5em; margin: 1em 0; font-weight: 500;}

/* #products .category-label {cursor: pointer;} */
#products .category-title {font-size: 2em;color: #333333;margin-bottom: 2em;text-transform: lowercase;letter-spacing: 0.5em;}
#products .category-item {margin-bottom: 1em;}
#products .category-item:first-child {margin-top: 1em;}
#products .checkbox-wrapper {position: relative;margin-right: 1em;}
#products .checkbox-wrapper input {cursor: pointer;}
#products .checkbox {opacity: 0;position: absolute;width: 1.25em;height: 1.25em;}
#products .checkbox-custom {width: 1.25em;height: 1.25em;border: 2px solid #ccc;background: white;transition: all 0.2s ease;display: flex;align-items: center;justify-content: center;}
#products .checkbox:checked + .checkbox-custom {background: #333;border-color: #333;}
#products .checkbox:checked + .checkbox-custom::after {opacity: 1;display: none;}
/* #products .category-label:hover .checkbox-custom {} */

#products input[type=checkbox] {border-radius: 0;}
#products .category-text {font-weight: 300; line-height: 1.6em; color: #333333;}
#products .tagline-image-panel {gap: 1em;}
#products .image-tagline {width: 48em;height: 26em;}
#products .tagline h1 {line-height: 1.5em; color: #333333; line-height: 160%;}
#products .filter-hide {margin: 0 1.6em; gap: 0.5em;}
#products .filter-hide-panel {cursor: pointer; gap: 0.5em; display: none;}
#products .filter-wrapper {border-top: 1px solid #C4C4C4; border-bottom: 1px solid #C4C4C4; padding: 2em 0;}
#products .fa-chevron-up, .fa-chevron-down {margin-top: 0.4em; margin-left: 0.2em;}
#products .tagline-text {width: 40%; margin-right: 2em;}
#products .category-item[data-parent-id="0"] {margin-left: 0;}
#products .category-item[data-parent-id]:not([data-parent-id="0"]) {margin-left: 1.2em;}
#products .mini-tagline {text-transform: uppercase; font-weight: 500; color: #333333; margin-bottom: 0.5em;}
#products .sub-tagline h4 {color: #000; font-weight: 400; line-height: 160%; width: 87%; font-size: 1.1em;}
/* #products .text-filter {margin-left: 0.5em;} */
#products .tagline-image {width: 60%; height: 30em;}
#products .tagline {width: 90%;}
#products .aside-item-panel {gap: 4em;}
#products .category-text.expandable {cursor: pointer;user-select: none;}
#products .btn-fav {cursor: pointer;}

#products-detail .img-col {width: 30em;} 
#products-detail .product-image {height: 30em;} 
#products-detail .product-img-nav {margin: 0.5em 0;} 
#products-detail .img-thumb {width: 98%; height:10em; border:1px solid #dedede; cursor: pointer}
#products-detail .product-description-panel, #products-detail .product-review-panel {background-color: white; width: 100%; padding: 2em; border-radius: 1em; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);} /* agar tidak terlalu mepet ke kanan*/
#products-detail .product-description-panel h2, #products-detail .product-review-panel h2 { font-size: 1.5em; margin-bottom: .45em;}
#products-detail .product-description-panel .product-description {font-size: 1.1em; margin: 1em 0; color: #5B5B5B; line-height: 160%;}
#products-detail .product-description-panel .fa-lg {font-size: 2em; cursor: pointer; color: #292D32;}
#products-detail .trim-height {max-height: 0; overflow: hidden; } 
#products-detail .description-header {border-top: 1px solid #717171; padding-top: 2em;}
#products-detail .size-guide-header {border-top: 1px solid #717171; padding: 2em 0;}
#products-detail .variant {padding: 0.5em; border: 1px solid #000;}
.variant.active {background-color: #08144c;  font-weight: bold; color: white;} 
#products-detail #breadcrumb {padding: 0 1em; font-weight: 500;}
#products-detail .product-name {font-size: 1.5em; color: #1E1E1E; margin-bottom: 0.3em;}
#products-detail .product-price {font-size: 1.5em; color: #5b5b5b;}
#products-detail .product-name-panel {width: 50%;}
#products-detail .add-to-cart {width: 100%;}
#products-detail .add-to-cart button {font-family: 'LibreBaskerville'; height: 3.25em; color: #F1F1F1E5;}
#products-detail .path-icon {rotate: 75deg;}
#products-detail .rewards-points {border: 1px solid #dedede; padding: 1em;}
#products-detail .rewards-points .font-bold, #products-detail .rewards-points .fa-lg {font-size: 1.8em;}
#products-detail .title-product-detail {color: #292D32;}

/* CART */
#cart {background-color: white;}
#cart .review-box {  margin-bottom: 1em; padding: 1em 2em}
#cart h2{ margin:0; font-size: 2em} 
#cart h3 {margin:0; font-size: 0.9em; font-weight: bold;}
#cart .left-column{margin-right: 1em;}
#cart .right-column { width: 37em; background-color: #001748; padding-bottom: 1em;} 
#cart .cart-item {width: 96%; min-height: 10em; margin: auto; padding-bottom: 0.8em; margin-bottom: 1em;}
/* #cart .cart-item:last-child {border-bottom: none;} */
#cart .cart-item .cart-img { width: 10em; background-color: #dedede;}
#cart .cart-item .item-name {font-size: 1.4em}
#cart .cart-item .item-desc {padding: 1em}
#cart .cart-item .variant {background-color: #F1F1F1; padding: 0.2em 0.4em; display: inline-block}
#cart .cart-item .price {font-size: 1.2em; color: #5B5B5B; font-weight: 700; margin-bottom:.5em}
#cart .quantity {width: 9em; border: 1px solid #001748;}
#cart .quantity > div {margin: 0}
#cart .quantity .inputnumber {border:0; box-shadow: none; text-align: center; font-family: 'LibreBaskerville'; color: #001748;}
#cart .quantity .btn-ctr {border: none; width: 2.5em; height: 2.5em; transition: background-color 0.2s ease-in-out; cursor: pointer; color: #001748;}
#cart .quantity .btn-ctr:hover {background-color: #001748; color: #FFFFFF;} 
#cart .quantity .border-radius-left {border-radius: 2em 0 0 2em;  } 
#cart .quantity .border-radius-right {border-radius: 0 2em 2em 0;  }  
#cart .information-card {padding: 1em; border-radius: 1em; color: white;}
#cart .information-card input {padding:5px; height: auto; outline-style:none !important ; background-color: white;  border:0 ;  border-bottom:1px solid #ccc;  border-radius: 0;  box-shadow: none !important; -webkit-box-shadow:none !important; -moz-box-shadow: none !important; -o-box-shadow:none !important; -webkit-appearance:none;} 
#cart .information-card input[name="recipientZipcode"] {border: 1px solid #ccc;} 
#cart .information-card .label{font-size: 1em; padding: 0;}
#cart .information-card a {text-decoration: none}
#cart [name=btnSave] {width:100%}
#cart .recipient-addresss {width: 98%; margin: auto}
#cart .recipient-addresss > div {margin-bottom: .5em}
/* #cart .total-payment {font-weight: bold} */
#cart .maps {position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9999;background-color: rgba(0, 0, 0, 0.5); }
#cart .card-map { width: 90%; max-width: 40em; background: white; padding: 1em; border-radius: .5em;}
#cart .btn-map, .btn-map:focus {background-color: #6CACE4; border: transparent; border-radius: 30px; width: 11em; padding: 0.5em 1em; color: #ffffff; cursor: pointer;} 
#cart .btn-map:hover {background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, #6CACE4, #6CACE4); box-shadow: inset 0px 0px 5px 0px #0000004D ;}
#cart .btn-map:active {background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, #6CACE4, #6CACE4); color: #fff; box-shadow: 2px 4px 4px 0px #00000033 inset;} 
.no-scroll {overflow: hidden !important; height: 100vh !important;}
#cart #address-geocoding-add {width: 100%;}
#cart .shipping-cost {margin-top: 0.5em;}
/*#cart .input-btn {gap: .5em;}*/
#cart .title-address {font-weight: bold; font-size: 1.2em; margin-bottom: .5em;}
#cart .col-sm-12 textarea {height: 5em !important;}
#cart #for-map {margin-top: 0.5em; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; line-clamp: 3; -webkit-box-orient: vertical; text-overflow: ellipsis;}
#cart .voucher {text-decoration: underline !important; font-weight: normal !important; color: white;}
/* #cart .left-column .bg-white {padding: 1em;} */
#cart .btn-edit {color: white;}
#cart .checkout-panel {font-family: 'LibreBaskerville';}
#cart button.btn-primary {background-color: white !important; color: #001748 !important; border-color: transparent !important; margin: 0 1em; width: 92%;}
#cart [name='selInputAddress'] {display: none;}
#cart .fa-trash-alt {font-size: 1.2em;}
#cart .left-column .section {border: 1px solid #001748;}
#cart .mnv-delete {cursor: pointer;}
#cart .cart-list-panel {gap: 2em;}
#cart .text-gray {color: #CACACA;}
#cart .title-gray {color: #F1F1F1E5;}
select {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px 12px;
    box-sizing: border-box;
}

/* Untuk dropdown options */
select option {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
}
#transaction-history .order-summary {border: 1px solid #717171; padding: 1em; margin-bottom: 2em;}
#transaction-history .product-img {width: 8em; height: 8em; background-color: #dedede;}
#transaction-history li {margin-bottom: 1em;}
#transaction-history .product-info {align-self: flex-start;}
#transaction-history .product-name {font-size: 1.2em;}
#transaction-history .product-price {font-size: 1.2em;}
#transaction-history .text-qty {color: #000;}
#transaction-history .product-qty {color: #00000099;}
#transaction-history h2 {margin-top: 0; font-size: 1.8em;}


#contact-us .image-contactus {height: 42em;}
#contact-us button {font-family: 'LibreBaskerville'; background-color: white;}


.footer {width: 100%; padding: 2em 0;}
.footer .section-1 {width: 50%;}
.footer .logo-address-panel {gap: 2em; height: 20em;}
.footer .content-footer {width: 50%; align-self: stretch;}
.footer .logo-panel {height: 100%;}
.footer .address-panel {height: 100%;}
.footer .menu-footer {width: 85%; gap: 10.8em; opacity: 0.75;}
.footer .menu-footer a {color: white !important;}
.footer .menu-footer li {margin: 1em 0;}
.footer .logo-panel img {width: 6em;}
.footer .company-address {font-size: 1.5em;}
.footer .font-poppins {font-size: 0.9em;}
.footer .content-wrapper {gap: 1.5em;}
.footer .company-contact {gap: 2em;}


@media screen and (max-width: 1200px){   
  
  /* .search-bar input{width: 15em;} */
  .main-menu { gap: 3em; } 
  
  #products .item-card {width: 33%; }  

  #cart .cart-list-panel {flex-direction: column !important;}
  #cart .cart-list-panel > div {width: 100%} 
  
}

@media screen and (max-width: 1100px){ 
  #products .tagline-image-panel {flex-direction: column; gap: 2em;}  
  #products .tagline-text {width: 100%; margin: 0;}
  #products .tagline-image {width: 100%;}
  #btn-side-menu {display: inherit} 
  .hide-mobile {display: none;}
  .show-mobile {display: inherit !important;}

  #products-detail .total-col {width: 100%;}
  #products-detail .fixed-mobile {position: fixed !important; bottom: 0 !important; z-index: 999; left: 0; top: auto;}
  #products-detail .hide-mobile {display: none;}

  /* #products-detail .subtotal-panel {position: fixed; bottom: 0; left: 0; z-index: 999; display: block;} */
  #products-detail .add-to-cart {display: flex; align-items: center; margin: 0}
  #products-detail .add-to-cart .btn {border-radius: 0; padding: 1.2em;}
  #products-detail .back-to-top {bottom: 3em !important;}  
}

@media screen and (max-width: 950px){   
  #login .image-login-panel, #login .image-register-panel {display: none;}
  #login .form-login-panel {width: 100%; margin: 0;}
  #login .input-panel {width: 90%; padding: 0 1em;}

  #index .tagline-image-panel {flex-direction: column; gap: 2em;}
  #index .tagline-image {width: 25em;}
  #index .image-tagline {width: 100%;}

  #cart .delete-qty {flex-direction: row; align-items: center; justify-content: end; gap: 1em;}
  #cart .delete-qty > .consume {display: none;}


  #products-detail .product-information {flex-direction: column; gap: 3em;}
  #products-detail .product-information .product-name-panel {width: 100%; padding: 0}
  #products-detail .img-col {width: 30em; margin: auto;}

  .floating-cart {right: 0; top: 8em;}
  .section-break-8 {clear: both; height: 4em}
  .main-menu {margin: 0.8em 0; margin-bottom: 0;}
  .company-logo {width: 8em;}
  .footer-content-1 {margin: 1.8em 0;} 
  .text-login {top: 3.4em; right: 1em;}
    
   
  #products .item-card {width: 50%; }  
  .item-card {width: 33.33%; }  
  .account-menu { top: .5em;}
  
  #cart .mobile-cart-name-price {flex-direction: column; gap: 0.5em; width: 100%;}
   
  #transaction-history .product-list > li {width: 100%}
  .footer .menu-footer {gap: 4.8em !important;}

}

@media screen and (max-width: 900px){   
  
  
  .main-menu { gap: 2em; } 
  
  #index .featured-wrapper {grid-template-columns: repeat(3, 1fr);} 
  #index .item-card-scroll li {  flex: 0 0 calc(25% - 0.4375em);} 
  
}
   
 
@media screen and (max-width: 850px){  
   
  #index .featured-wrapper {grid-template-columns: repeat(2, 1fr);} 
  #products-detail #content-wrapper {padding: 0; width: 100%;}
    
  .desktop-only {display: none;}
  .mobile-only {display: flex;}
 
  .back-to-top {bottom: 1.2em;}
  #contact-us .contactus-panel {flex-direction: column;}
  #contact-us .image-contactus-panel {width: 100%;}
  #contact-us .image-contactus-panel {height: 43em; background-size: contain;}
  #contact-us .form-contactus-panel {width: 100%;}
  #contact-us .form-contactus {width: 100%;}

  #products-detail .back-to-top {bottom: 2.8em !important;}
   
  .mobile-wrapper {background-color: white;} 
   
  #btn-side-menu {display: inherit} 
  .hide-mobile {display: none;}
  .show-mobile {display: inherit !important;}
  .content-wrapper{ padding:0 1em; }

  .section-break-4 {height: 2em}

  h2 {line-height: 1.5em}
  
  #products .item-card {width: 33.33%; }  
  #products .aside-panel {display: none}
  
  #products .item-card {width: 50%; }   
  .profile .content-profile {padding-left: 0;} 
  
  #products-detail .subtotal-panel {position: fixed !important; bottom:0; left: 0}
  #cart .left-column {min-height: auto; margin-bottom: 2em}
  #cart .checkout-panel {position: fixed; bottom: 0; background-color: #001748; padding: 1em 0; width: 100%; left: 0; z-index: 999; text-align: center} 
  #cart .checkout-panel [name=btnSave] {width: 96%; padding: 1em 0; } 
  #cart .static-whatsapp {bottom: 5.7em}
  #cart .back-to-top {bottom: 2.7em}
  
  .menu-profile {display: none}

  #order-done .recipient-panel {width: 100%;}
  #order-done .track-order-panel {flex: 1; align-self: stretch;}
  #order-done .invoice-panel {justify-self: center;}
}

@media screen and (max-width: 710px) {
  #about-us .about-us-panel {flex-direction: column; gap: 2em;}
  #about-us .title-about-panel {width: 100%;}
  #about-us .image-panel {width: 100%;}

  .footer .logo-address-panel { align-items: center;}
  .footer .section-1 {width: 100%;}
  .footer .menu-footer {width: 100%; margin-bottom: 4em;}
  .footer .content-footer {width: 100%; margin-top: 2em;}
  .footer .content-footer-panel {flex-direction: column; gap: 2em;}
  .footer .font-poppins {text-align: center;}
}
   
@media screen and (max-width: 650px){  
  #login .input-panel {width: 90%; padding: 0 1em;} 
  #form-forgot-password {width: 90%; padding: 1em;}

  #products .image-tagline {width: 100%; height: auto;}
  #products .sub-tagline h4 {font-size: 1.2em;}

  #index .list-category {font-size: 0.9em; flex-direction: column; align-items: center; gap: 2em;}
  #index .usp {width: 100%; max-width: 17em;}
  #index .image-product-feature {height: 18em;}
  #index .system-reward-panel {flex-direction: column; align-items: center; gap: 1em;}
  #index .article-section .div-table-row > .div-table-col-5:first-child {padding-right: 0.5em; }
  #index .reward-img {height: 18em; width: 100%;}
  #index .reward-panel {width: 100%;}
  
  .index-skeleton-img {height: 18em;}
  .img-panel  {max-width: 96%}
  .item-card {width: 50%}
  #cart .total-price-panel {flex-direction: column; align-items: start; gap: 1em;}
  
  #about-us .sub-brand-panel {flex-direction: column; gap: 2em;}
  #about-us .card-sub-brand {width: 100%;}

  .profile .content-profile {padding: 0;}
  .profile .content-wrapper {padding: 0;}

  #products-detail .product-image {height: 30em; margin: auto;} 
  #products-detail .img-col {width: 30em;} 
  #products-detail .img-thumb {height: 9em;}
  #products-detail .like-share,#products-detail .guide {margin-bottom: .5em}
  
  #transaction-history .product-card {flex-direction: column; gap: 1em;}
  #transaction-history .product-info-price {flex-direction: column; gap: 0.5em; align-items: start;}
  #transaction-history .product-img {width: 18em; height: 20em; max-height: 25em; margin: auto; background-size: cover;}
  #transaction-history li {margin-bottom: 2em;}
  #transaction-history li:last-child {margin-bottom: 0;}

  #payment-success .submenu-panel  {gap: 2em; flex-direction: column}
  .footer .company-address {font-size: 1.4em;}

}
 
@media screen and (max-width: 450px){  
  h1 {font-size: 1.9em;} 
  #products-detail .img-thumb {height: 7em;}
  #products-detail .img-col {width: 24em;} 
  #products-detail .product-image {height: 24em;}
  #products-detail .product-name, #products-detail .product-price {font-size: 1em;}
  #products-detail .product-description-panel h2, #products-detail .product-review-panel h2 {font-size: 1em;}
  #products-detail .product-description-panel .fa-lg {font-size: 1em;}
  #products-detail .description-header {padding-top: 1em;}
  #products-detail .product-description-panel .product-description {font-size: 1em; margin: 0.5em 0;}

  #index .product-feature-panel {height: auto;}
  #products .name {font-size: 0.8em;}
  /* #index .card-product-feature {height: 20em;} */

  #cart h2 {line-height: normal}
  #cart .cart-img {display: none}

  #products .tag {position: absolute; top: 1em; left: 0.5em; background-color: rgb(214, 214, 214); border-radius: 1em; padding: 0.2em 0.6em;}
  #products .like {position: absolute; top: 1.5em; right: 0.5em;}
  #products .fa-lg {font-size: 1.5em;}

 
  
  .footer h2 {font-size: 1.6em}
  .banner-desc .flex-mobile h1 {font-size: 2em !important} 
  #products-detail .mobile-like-share .card-panel {width: 100%; margin: 0; margin-bottom: 0.5em}
  
  .order-header {flex-direction: column}
  .order-header .divider {display: none}
  .order-header > div {margin-bottom: 1em}
  #invoice .invoice-panel {text-align: center !important;}
  #invoice .logo-invoice {text-align: center;}
  .footer .logo-address-panel {flex-direction: column; gap: 1em;}
  .footer .address-panel{width: 100%; gap: 1em;}
}

/* iphone */
@media screen and (max-width: 380px){ 
  #products-detail .img-col {width: 22em;} 
  #products-detail .product-image {height: 22em;}

  #index .tagline, #index .tagline-text, #index .sub-tagline, #index .tagline-image {width: 100%;}
  #index .item-card-scroll li {  flex: 0 0 calc(50% - 0.25em);  }  
  .parent-footer-content {width: 100%; display: flex;} 
  .g-recaptcha {transform:scale(0.95);transform-origin:0;-webkit-transform:scale(0.95);transform:scale(0.95);-webkit-transform-origin:0 0;transform-origin:0 0; 0}
  
  /*
  #order-done .total-disc-panel {flex-direction: column; align-items: start; margin-bottom: 1em;}
  #order-done .total-disc-panel h4 {margin: 0;}
  */
}