{% extends "profile-template.html" %}
{% block pagetitle %}{{ LANG.updatePassword }} | {{ parent() }}{% endblock %}
{% block JS %}
<script type="text/javascript" src="{{ TEMPLATE_JS_PAGE_PATH }}updatePassword.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){  
   var opt = new Array();    
   var errMsg = new Array();     
   var lang = new Array();     
 
   errMsg['passwordConfirmation'] = {{ ERRORMSG.passwordConfirmation|json_encode()|raw }};  
   errMsg['password'] = {{ ERRORMSG.password|json_encode()|raw }}; 
   errMsg['username'] = {{ ERRORMSG.username|json_encode()|raw }}; 

   opt['errMsg'] = errMsg;
   opt['lang'] = lang;

   var updatePassword = new UpdatePassword(opt);
   updatePassword.loadOnReady();
}) 
</script>
{% endblock %}

{% block profilecontent %}
  <form id="form-update-password" class="form-horizontal" method="post" action="/ajax-member.php">
        {{ inputHidId|raw }}
        {{ inputHidAction|raw }}
        <div class="flex" style="gap: 0.5em;">
          <i class="fa-regular fa-circle-user"></i>
          <div class="text-header">
            {{ LANG.updatePassword }}
          </div>
        </div>
        <div class="section-break-1"></div>
        <div class="form-group input-panel">
          <div class="control-label">{{ LANG.currentpassword }}</div>
          <div class="">
            {{ inputCurrentPassword|raw }}
          </div>
        </div>
        <div class="form-group input-panel">
          <div class="control-label">{{ LANG.newpassword }}</div>
          <div class="">
            {{ inputNewPassword|raw }}
          </div>
        </div>
        <div class="form-group input-panel">
          <div class="control-label">{{ LANG.confirmnewpassword }}</div>
          <div class="">
            {{ inputPasswordConfirmation|raw }}
          </div>
        </div>
        <div class="flex justify-content-end action-panel">
          <div>{{ btnSubmit|raw }}</div>
        </div>
      </form>
{% endblock %}